html {
	font-size:50%;
}
 
body {
    margin: 0px;
    overflow: hidden;
}
.signUp-Phone-2 {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.signUp-Phone-2 .upperRectangle {
  box-sizing: border-box;
  padding: 2.8rem 3rem 2.7rem 143.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 105, 255, 0.75);
  flex-shrink: 0;
}
.signUp-Phone-2 .container {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 10rem 53.8rem 26.7rem 56.6rem;
  width: calc(100% - 0.5rem);
  height: 100rem;
  background-color: #e3e8f4;
  flex-shrink: 0;
}
.signUp-Phone-2 .container .confirmationForm {
  box-sizing: border-box;
  padding: 4.4rem 8.5rem 9.3rem 8.4rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 2.7rem;
}
.signUp-Phone-2 .container .confirmationForm .confirmPhone {
  margin-bottom: 4.4rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 0.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signUp-Phone-2 .container .confirmationForm .sampleEmail {
  margin-bottom: 4rem;
  max-width: 38.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.signUp-Phone-2 .container .confirmationForm .sampleEmail .sampleEmail-sub-0 {
}
.signUp-Phone-2 .container .confirmationForm .sampleEmail .samplePhone {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone-2 .container .confirmationForm .line1 {
  margin: 0rem 10.9rem 3.2rem 10.9rem;
  width: calc(100% - 21.8rem);
  height: 0.1rem;
  background-color: rgba(68, 81, 114, 0.75);
  flex-shrink: 0;
}
.signUp-Phone-2 .container .confirmationForm .text1 {
  margin-bottom: 3.8rem;
  max-width: 44.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.signUp-Phone-2 .container .confirmationForm .box1 {
  margin: 0 6.1rem;
  width: calc(100% - 12.2rem);
  height: 6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0069ff;
  border-radius: 1rem;
  border-color: #0069ff;
  flex-shrink: 0;
}
.signUp-Phone-2 .container .confirmationForm .group-12-sKw {
    margin: 0rem 6.8rem 4.2rem 6.8rem;
    width: calc(100% - 13.6rem);
    height: 6rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #737d95;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.3rem #e3e8f4;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
  }
  .signUp-Phone-2 .container .confirmationForm .group-13-X9b {
    margin: -1.5rem 7rem 0rem 6.6rem;
    width: calc(100% - 13.6rem);
    height: 6rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0069ff;
    border-radius: 1rem;
    border-color: #0069ff;
    flex-shrink: 0;
  }
  .signUp-Phone-2 .container .text2 {
    margin-right: 3.1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #445172;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
  }
  .signUp-Phone-2 .container .text2 .text2-sub-0 {
  }
  .signUp-Phone-2 .container .text2 .text2-sub-1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2125;
    text-decoration-line: underline;
    color: #0069ff;
    font-family: Inter, 'Source Sans Pro';
  }
