.menu {
    display: flex;
    border-bottom: solid;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
}

.menu p {
    margin-right: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: rgba(164, 174, 199, 1);
}

.patientSearch {
    margin-top: 2vh;
    margin-bottom: 4vh;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh 2vh;
}

.patientSearch .topic {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 2vw;
}

.patientSearch .topic label {
    font-size: 3vh;
    font-weight: bold;
    color: rgba(68, 81, 114, 1);
}

.prescription-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1.5vh;
}

.prescription-table table tr {
    background-color: #ffffff;
    cursor: pointer;
}

.prescription-table table tr:hover,
td:hover {
    background-color: #8ab4f0;
    cursor: pointer;
    color: #ffffff
}

.prescription-table table td {
    padding: 0vh 2vh;
    color: black;
    text-align: center;
    font-size: 15px;
    width: 40%;
}

.prescription-table table .td-cols {
    padding: 0vh 2vh;
    height: 40px;
    text-align: center;
    font-size: 15px;
    text-align: left;
}

.prescription-table table .td-cols a {
    text-decoration: none;
    color: rgba(0, 105, 255, 1);
}

.prescription-table .presDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prescription-table .presDiv img {
    width: 20px;
    height: 20px;
}

.prescription-table .presDiv p {
    color: rgba(0, 105, 255, 1);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: #fff;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 35%;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.close1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.modal-content a {
    font-size: 11px;
}

.modal-content .model-head {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 4px;
    gap: 8px;
}

.modal-content .model-head img {
    width: 40px;
    height: 40px;
}

.modal-content .model-details {
    display: grid;
    grid-template-columns: auto auto;
}

.modal-content .model-details>div {
    font-size: 12px;
    padding: 2px 0;
}

.modal-content .pres-box {
    margin-top: 10px;
    padding: 5px 10px 10px 10px;
    border: 0.7px solid rgb(128, 123, 123);
    min-height: 20px;
    border-radius: 10px;
}

.modal-content label {
    font-size: 14px;
}

.modal-content .pres-box div {
    margin-top: 3px;
    font-size: 12px;
}

.modal-content .pres-box table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 6px;
    margin-bottom: 6px;
}

.modal-content .pres-box table tr {
    border-bottom: 1px solid #ddd;
}

.modal-content .pres-box table td {
    font-size: 12px;
}

.modal-content .test-box {
    min-height: 20px;
    margin-top: 10px;
}

.modal-content .test-box table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 6px;
    margin-bottom: 20px;
}

.modal-content .test-box table td {
    border-bottom: 1px solid #ddd;
}

.modal-content .test-box table td {
    font-size: 12px;
}

.modal-content .notice {
    font-size: 10px;
    margin-top: 6px;
    text-align: center;
}