body {
  font-family: Inter, 'Source Sans Pro';
  margin: 0;
}

.menu {
    display: flex;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
}


.menu p {
    margin-right: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh;   
}

.menu p:first-child{
  font-weight: 500;
}

.menu p a{
    text-decoration: none;
    color: rgba(164, 174, 199, 1);
}

p a:active{
    color: black;
}

.divider{
  width: 96%;
  margin-left: 0;
  color:rgba(164, 174, 199, 1);
}

.prescriptionsDiv {
    margin-top: 3vh;
    padding-bottom: 5vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
  }
  
.prescriptionsDiv h2{
  margin-left: 0.2vw;
  margin-bottom: 1.5vh;
  color: rgba(68, 81, 114, 1);
  font-size: 24px;
}

#search {
  background-color: white;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1.1rem;
  margin-top: 2vh;
  padding: 1.6vh 38vw 1.8vh 1vw;
}

#searchButton {
  background-color: #0069FF;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2vh;
  margin-left: 0.5vw;
  padding: 1.6vh 3vw;
}

#searchButton:hover {
  background-color: rgba(0, 80, 200, 1); 
  cursor: pointer;
}

.patientFile {
  background-color:white;
  margin-top: 3vh;
  padding: 0.5vh 1vw;
  border-radius: 5px;
  display: flex;
  flex-direction: row; 
  width: 93%;
  margin-bottom: -0.5rem;
  align-items: center;
}

.patientFile p {
  margin: 0.5vh 1vw;
  font-size: 1.1rem;
  width:36.7%;
}

.patientFile #patientId {
  color: rgba(68, 81, 114, 0.75);
}

.patientFile button {
  border-style: none;
  border-radius: 0.5rem;
  background-color: #0069FF;
  color: white;
  font-size: 1rem;
  /* padding: 0.5vh 4vw; */
  width:166px;
  height: 27px;
}

.patientFile button:hover {
  background-color: rgba(0, 80, 200, 1); 
  cursor: pointer;
}
.center-content {
  margin-left: 25%;
  margin-top: 30px; 
}

.grey-text {
  color:rgba(164, 174, 199, 1);
  font-size: 1.5rem;
  font-style:italic;
}

.patientFile img {
  border-radius: 50%;
  display: inline-block;
  height: 5vh;
  margin-right: 1vw;
  overflow: hidden;
  width: 5vh;
}

.pagination {
  margin-top: 4vh;
  text-align: end;
}

.pagination a {
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0069FF;
  color: white;
}

.pagination a:hover {
  background-color: #0069FF;
  color: white;
}


.content {
  display: flex;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

.menu #patients {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}

.menu #patients::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.patients{
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.patients::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.ash-box{
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  margin-top: 4vh;
  padding: 1vh 3vh 2vh;
  position: relative;
}
