body {
    font-family: Inter, 'Source Sans Pro';
    margin: 0;
}

.content {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "sideMenu container"
}

.container {
    display: grid;
    grid-template-rows: 7vh 1fr;
}

.sideMenu {
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 28, 74, 1);
}

.sideMenuTexts {
    font-size: 1.7vh;
    color: #ffffff;
    line-height: 1.5vh;
}

.logoDiv {
    align-items: center;
    margin-bottom: 4vh;
}

.logoImg {
    display: block;
    margin: auto;
    height: 5vh;
    padding-top: 3vh;
}

.mainOptions {
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
}

.sideMenu p {
    padding-left: 3vh;
}

.sideMenu a {
    display: block;
    color: #ffffff;
    font-size: 1.7vh;
    padding: 1vh 1vh;
    padding-left: 3vh;
    text-decoration: none;
}

/* .sideMenu a.active{
      background-color: rgba(53, 70, 109, 1);
    } */

.sideMenu a:hover {
    background-color: rgba(53, 70, 109, 1);
}

.userDiv {
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
}

.profile {
    background-color: rgba(53, 70, 109, 1);
    padding: 0.2vh;
    margin-bottom: 2.5vh;
}

.profile p {
    color: #ffffff;
    font-size: 1.8vh;
    font-weight: bold;
}

.manageDiv {
    padding-top: 3vh;
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
    padding-bottom: 3vh;
}

.navBar {
    background-color: rgba(138, 150, 181, 1);
    height: 100%;
}

.navBar p {
    margin: 0;
    float: right;
    padding: 2.5vh 0vw;
    color: #ffffff;
    font-size: 1.7vh;
}

.navBar img {
    float: right;
    padding: 1.3vh 2vw;
    height: 4vh;
}

.main {
    display: grid;
    background-color: #ffffff;
}

.main-Container {
    width: 90%;
    margin-top: 20px;
    margin-left: 30px;
}

.userInfo {
    display: flex;
    align-items: center;
    height: 70px;
}

.userInfo img {
    height: 50px;
    margin-right: 1.5vw;
}

.userInfo .userNameDiv .name {
    font-size: 2.5vh;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    color: rgba(68, 81, 114, 1);
}

.userInfo .userNameDiv .role {
    font-size: 2vh;
    padding: 0px;
    margin: 0px;
}