<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>HealthSupervisor Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="styles/healthSupervisor_dash.css" />
    <link rel="stylesheet" href="styles/sideMenu&navBar.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="content">
        <div class="sideMenu">
            <div class="logoDiv">
                <img class="logoImg" src="images/logo.png" />
            </div>

            <div class="manageDiv">
                <p class="mainOptions">MANAGE</p>

                <a href="patients.html" class="active">Inquiries</a>
                <a href="on-going_session.html">History</a>
                <a href="profile.html">Profile</a>
            </div>
            <div class="othersDiv">
                <p class="sideMenuTexts">Billing</p>
                <p class="sideMenuTexts">Terms of Services</p>
                <p class="sideMenuTexts">Privacy Policy</p>
                <p class="sideMenuTexts">Settings</p>
            </div>

        </div>
        <div class="container">
            <div class="navBar">
                <div class="navBar">
                    <img src="images/user.png" alt="user-icon">
                    <p>USERNAME</p>
                </div>
            </div>
            <div class="main">
                <div class="main-Container">
                    <div class="userInfo">
                        <img src="images/profile.png" alt="profile-pic">
                        <div class="userNameDiv">
                            <p class="name">HealthSupervisor Name</p>
                            <p class="role">HealthSupervisor</p>
                        </div>
                    </div>

                    <div class="menu">
                        <p><a href="prescriptions.html">Inquiries</a></p>
                        <p><a href="reports.html">History</a></p>
                    </div>
                    <hr class="divider">
                    <div class="patientFile">
                        <h2>Inquiries(5)</h2>
                        <div class="inquiry">
                          <img src="images/envelope.png" alt="">
                          <p id="idNO">#1343553</p>
                          <p>Patient Name</p>
                          <p>DD-MM-YYYY</p>
                          <button>view</button>
                        </div>
                        <div class="inquiry">
                          <img src="images/envelope.png"  alt="">
                          <p id="idNO">#1343553</p>
                          <p>Patient Name</p>
                          <p>DD-MM-YYYY</p>
                          <button>view</button>
                        </div>
                        <div class="inquiry">
                          <img src="images/envelope.png"  alt="">
                          <p id="idNO">#1343553</p>
                          <p>Patient Name</p>
                          <p>DD-MM-YYYY</p>
                          <button>view</button>
                        </div>
                        <div class="inquiry">
                          <img src="images/envelope.png"  alt="">
                          <p id="idNO">#1343553</p>
                          <p>Patient Name</p>
                          <p>DD-MM-YYYY</p>
                          <button>view</button>
                        </div>
                        <div class="inquiry">
                          <img src="images/envelope.png"  alt="">
                          <p id="idNO">#1343553</p>
                          <p>Patient Name</p>
                          <p>DD-MM-YYYY</p>
                          <button>view</button>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>