**/.DS_Store
.DS_Store

app/views/includes/header.php

.idea/

public/uploads/profile_images/

app/views/PAGE_STRUCTURE.txt
app/config/config.php

vendor/twilio/
vendor/composer/
vendor/bacon/
vendor/dasprid/
vendor/endroid/
vendor/phpmailer/