.menu {
    display: flex;
    border-bottom: solid;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
}

.menu p {
    margin-right: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: rgba(164, 174, 199, 1);
}

.menu p a{
    text-decoration: none;
    color: rgba(164, 174, 199, 1);

}

p a:active{
    color: black;
}

.patientSearch {
    margin-top: 2vh;
    margin-bottom: 4vh;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh 2vh;
}

.patientSearch .topic {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 2vw;
}

.patientSearch .topic label {
    font-size: 3vh;
    font-weight: bold;
    color: rgba(68, 81, 114, 1);
}

.prescription-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1.5vh;
}

.prescription-table table tr {
    background-color: #ffffff;
    cursor: pointer;
}

.prescription-table table tr:hover,
td:hover {
    background-color: #8ab4f0;
    cursor: pointer;
    color: #ffffff
}

.prescription-table table td {
    padding: 0vh 2vh;
    color: black;
    text-align: center;
    font-size: 15px;
    width: 40%;
}

.prescription-table table .td-cols {
    padding: 0vh 2vh;
    height: 40px;
    text-align: center;
    font-size: 15px;
    text-align: left;
}

.prescription-table table .td-cols a {
    text-decoration: none;
    color: rgba(0, 105, 255, 1);
}

.prescription-table .presDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prescription-table .presDiv img {
    width: 20px;
    height: 20px;
}

.prescription-table .presDiv p {
    color: rgba(0, 105, 255, 1);
}

.patient-div{
    display:flex;
    flex-direction: row;
}

.patient-desc{
    margin-left:20px;
}

.patient-desc p {
    line-height: 0.5; 
}

.vector {
    width: 45px;
    height: 45px;
    margin-top:30px;
    margin-right:10px;
}

.person-circle{
    width: 80px;
    height:80px;
    padding-top: 10px;
}


.patient-desc p:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
}


.patient-desc p:nth-child(2) {
    color: blue;
}

.patient-desc p:nth-child(3) {
    color: rgba(68, 81, 114, 1);
}


  

