.menu {
    margin-top: 2vh;
    display: flex;
    border-bottom: solid;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
  }
  
  .menu p a{
    margin-right: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: rgba(164, 174, 199, 1);
    text-decoration: none;
  }

  .menu p a{
    text-decoration: none;
    color: rgba(164, 174, 199, 1);

}

p a:active{
    color: black;
}
  
  .pharmacist_profile {
    margin-top: 2vh;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh 2vh;
   
  }
  
  .pharmacist_profile .empid {
    font-size: 3vh;
    font-weight: bold;
    color: #0069FF;
  }

  .pharmacist_profile .accountinfotext{
    font-size: 1.9vh;
    text-align:right;
    color:#445172 ;
  }
  
  .pharmacist_profile .details{
    display: flex;
    justify-content: space-between;
    margin-top: inherit;
  }

  .pharmacist_profile p{
    font-size: 1.5vh;
    margin-top: auto;
  }

  .pharmacist_profile .details form{
    width: 100%;
  }

  .details form label{
    font-size: 1.8vh;
  }

  .pharmacist_profile .details button{
    width: 30%;
    background-color: #0069FFBF;
    padding: 10px 20px;
    font-size: 1.8vh;
    font-weight: 500;
    color:white;
    border: 1px solid #0069FFBF;
    border-radius: 10px;
    margin-top: 5px;

  }

  .pharmacist_profile .details form input{
    width: 85%;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 1.5vh;
    font-weight: 500;
    color:#445172BF;
    border: 1px solid #44517280;
    border-radius: 10px;
    margin-top: 5px;
  }

  