.menu {
    display: flex;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
}

.menu p {
    margin-right: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: rgba(164, 174, 199, 1);
}


.menu p a{
    text-decoration: none;
    color: rgba(164, 174, 199, 1);

}

p a:active{
    color: black;
}

.divider{
  width: 84%;
  margin-left: 0;
  color:rgba(164, 174, 199, 1);
}

.prescriptionsDiv {
    margin-top: 3vh;
    padding-bottom: 5vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
  }
  
.prescriptionsDiv h1{
  margin-left: 0.2vw;
  margin-bottom: 1.5vh;
  color: rgba(68, 81, 114, 1);
}

#searchBar {
  padding: 1.6vh 41vw 1.8vh 1vw;
  border-radius: 0.5rem;
  border-style: none;
  background-color: rgba(239, 242, 251, 1);
  font-size: 1.1rem;
}

#searchButton {
  padding: 1.6vh 3vw;
  margin-left: 0.5vw;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #0069FF;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

#searchButton:hover {
  background-color: rgba(0, 80, 200, 1); 
  cursor: pointer;
}

.patientFile {
    background-color: rgba(239, 242, 251, 1);
    width:75%;
    height: 74%;
    border-radius:5px;
}

.patientFile h2{
    margin-top:0;
    margin:0;
}

.form-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-head h2{
    margin-left: 3rem;
    margin-top: 2rem;
    color: #0069FF;
}

.form-head p{
    margin-right: 3rem;
    margin-top: 2rem;
}

.patientFile hr{
    color:rgb(192, 175, 175);
    margin:0.5rem 2rem 1rem;
}

#searchBar {
    padding: 1.6vh 12vw 1.8vh 1vw;
    border-radius: 0.5rem;
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 3rem;
}
.form-row p{
    font-weight: bold;
}


