body {
  font-family: inter;
  margin: 0;
}


.content {
  display: flex;
}


.main {
  flex: 1;
  margin-left: 220px;
  margin-bottom: 3%;
}

.inquiriesDiv {
  margin-top: 4vh;
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  padding: 1vh 3vh 2vh;
  position: relative;
}

.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;
}


.prescriptionsDiv {
  margin-top: 3vh;
  /* border-bottom: solid; */
  padding-bottom: 5vh;
  border-width: 0.1vh;
  border-color: rgba(164, 174, 199, 1);
}

.prescriptionsDiv h1 {
  margin-left: 0.2vw;
  margin-bottom: 1.5vh;
  font-size: 24px;
  color: rgba(68, 81, 114, 1);
}

#searchBar {
  padding: 1.6vh 35vw 1.8vh 1vw;
  border-radius: 0.5rem;
  border-style: none;
  background-color: white;
  font-size: 1.1rem;
  margin-top: 2vh;
}

#searchButton {
  padding: 1.6vh 3vw;
  margin-left: 0.5vw;
  margin-bottom: 2vh;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #0069FF;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.patientFile {
  background-color: white;
  margin-top: 3vh;
  padding: 2vh 1.2vw;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 3vh;
  width: 90%
}

.patientFile p {
  margin: 0.5vh;
  font-size: 1.1rem;
  color: rgba(68, 81, 114, 0.75);
  margin-right: 4vh;

}

.patientFile #patientId {
  color: rgba(68, 81, 114, 0.75);
}

.patientFile button {
  border-style: none;
  border-radius: 0.5rem;
  background-color: #0069FF;
  color: white;
  font-size: 1rem;
  padding: 0.5vh 2.5vw;
  height: fit-content;
  cursor: pointer;
}

.patientFile .fileInfo {
  display: flex;
  align-items: center;
}

.fileInfo img {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1vw;
}

.patients {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.patients::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #0069FF;
}

.menu #patients {
  color: #0069FF;
  border-color: #0069FF;
  border-spacing: 2cm;
  position: relative;
}

.menu #patients::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0069FF;
}