body {
  font-family: inter;
  margin: 0;
}

.content {
  display: flex;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.inquiriesDiv {
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  margin-top: 4vh;
  padding: 1vh 3vh 2vh;
  position: relative;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

.prescriptionsDiv {
  border-color: rgba(164, 174, 199, 1);
  border-width: 0.1vh;
  margin-top: 3vh;
  padding-bottom: 5vh;

  /* border-bottom: solid; */
}

.prescriptionsDiv h1 {
  color: rgba(68, 81, 114, 1);
  font-size: 24px;
  margin-bottom: 1.5vh;
  margin-left: 0.2vw;
}

#searchBar {
  background-color: white;
  border-radius: 0.5rem;
  border-style: none;
  font-size: 1.1rem;
  margin-top: 2vh;
  padding: 1.6vh 35vw 1.8vh 1vw;
}

#searchButton {
  background-color: #0069FF;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2vh;
  margin-left: 0.5vw;
  padding: 1.6vh 3vw;
}

.patientFile {
  background-color: white;
  border-radius: 5px;
  display: flex;
  height: 3vh;
  justify-content: space-between;
  margin-top: 3vh;
  padding: 2vh 1.2vw;

  width: 90%
}

.patientFile p {
  color: rgba(68, 81, 114, 0.75);
  font-size: 1.1rem;
  margin: 0.5vh;
  margin-right: 4vh;
}

.patientFile .city {
  color: rgba(68, 81, 114, 0.75);
  text-align: left;
  width: 15rem;
}

.patientFile .name {
  margin-left: 5px;
  text-align: left;
  width: 20rem;
}

.patientFile button {
  background-color: #0069FF;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  height: fit-content;
  padding: 0.5vh 2.5vw;
}

.patientFile .fileInfo {
  align-items: center;
  display: flex;
}

.fileInfo img {
  border-radius: 50%;
  display: inline-block;
  height: 5vh;
  margin-right: 1vw;
  overflow: hidden;
  width: 5vh;
}

.patients {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.patients::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.menu #patients {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}

.menu #patients::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.pagination {
  margin-top: 4vh;
  text-align: right;
}

.pagination a {
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0069FF;
  color: white;
}

.pagination a:hover {
  background-color: #0069FF;
  color: white;
}