body {
  font-family: inter;
  margin: 0;
}

.content {
  display: flex;
}

.adminDiv {
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.adminInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 70%;
}

.searchDiv {
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  padding: 1vh 3vh 2vh;
}

.searchDiv .info {
  align-items: center;
  display: flex;
  margin: 1vh 0.5vw;
}

.searchDiv .info img {
  border-radius: 50%;
  display: inline-block;
  height: 8vh;
  margin-right: 1vw;
  margin-top: 2vh;
  overflow: hidden;
  width: 8vh;
}

.searchDiv .doctor-info {
  flex-grow: 1;

  /* Expand to fill remaining space */
}

.searchDiv .doctor-info p {
  line-height: 0;
  margin-left: 3px;
}

.searchDiv h1 {
  color: rgba(68, 81, 114, 1);
  font-family: inter;
  font-size: 24px;
  font-weight: bold;
  margin-left: 3px;
}

.searchDiv .sessionBox {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.line1 {
  background-color: rgba(217, 217, 217, 1);
  height: 0.05rem;
  left: 17.5rem;
  top: 23.5rem;
  width: 53rem;
}

.sessionname {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2125;
  text-align: center;
  white-space: nowrap;

  ;
}

.text {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 15px;
  font-weight: 400;
  left: 19rem;
  line-height: 1.2125;
  text-align: center;
  top: 28rem;
}

/* .line2 {
      background-color: rgba(68, 81, 114, 0.75);
      height: 0.1rem;
      left: 19rem;
      top: 10rem;
      width: 13.5rem;
    } */
.rectangle-70-mtM {
  background-color: rgba(0, 105, 255, 0.75);
  border-color: rgba(0, 105, 255, 0.75);
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  font-size: 15px;
  font-weight: 600;
  height: 2rem;
  left: 19rem;
  line-height: 1.2125;
  top: 33rem;
  width: 13.5rem;
}

.boxes-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  /* Expand to fill remaining space */
}

.box1 {
  background-color: white;
  border-radius: 1.7vh;
  height: 150px;
  margin-right: 5px;
  margin-top: 2.5vh;
  padding: 1vh 0vh;
  text-align: center;
  width: 250px;

  /* width: calc(30% - 10px); */
  /* Adjust width as needed with a gap */
}

.box1 p {
  margin-top: 2vh;
}

.reg {
  background-color: #E3E8F4;
  border-color: #E3E8F4;
  border-radius: 1.7vh;
  font-family: inter;
  font-size: 2.1vh;
  font-weight: 35vh;
  height: 20vh;
  margin-left: 35vh;
  margin-top: 20vh;
  padding-top: 1vh;
  text-align: center;
  width: 65vh;
}

.but {
  background-color: #0069FF;
  border-radius: 0.8vh;
  color: white;
  font-size: 2.3vh;
  font-weight: 30vh;
  height: 5vh;
  padding-top: 0.5vh;
  Width: 55vh;
}

but :active {
  background-color: #006aff50;
}

.sessions {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.sessions::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.menu #sessions {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}

.menu #sessions::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}