.bar1
{
  width: 130vh;
  height:60vh;
  margin-top: 2vh;
  background-color: #EFF2FB;
  margin-left: 0.1vh;
  display: flexbox;
}
.row1
{
    display:flex;
    color: black;
    margin-top: 1vh;
    padding-left: 5vh;
    padding-top: 1vh;
    font-size: 1.7vh;
    
}
.row1 input
{
    
    height:4vh;
    width:46.5vh;
    border-radius: 0.9vh;
    font-size: 1.5vh;
    font-family: inter;
    color: black;
    border-radius: 0.5vh;
    padding-left: 3vh;
    border-color: #44517280;
}
.firstname
{
    margin-right: 7vh;
}

.row2
{
    padding-left: 5vh;
    padding-top: 3vh;
}
.row2 input
{
    width:103vh;
    height:4vh;
    border-radius: 0.9vh;
    border-color: #44517280;
    font-size: 1.5vh;
    font-family: inter;
    color: black;
    border-radius: 0.5vh;
    padding-left: 3vh;
    
}
.div-specifier h3
{
    color: #445172BF;
    font-size: 1.8vh;
}
.div-specifier h2
{
    padding-top: 2vh;
    padding-left: 4vh;
    font-size: 2.5vh;
}
.div-specifier button
{
    Width:22vh;
    Height:4vhpx;
    margin-left: 4vh;
    margin-top: 3vh;
    border-radius:0.5vh;
    background-color: #388AFF;
    color: white;
    font:Inter;
    font-size: 1.5vh;
    padding: 1.5vh 4vh;
    border: none;
}