.addnewHeading {
    font-size: 2vh;
    font-weight: bold;
    margin-top: 4vh;
}

.addnew {
    display: flex;
}

.appointment {
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    margin-right: 3vh;
    padding: 1vh 3vh;
}

.appointment div {
    display: flex;
}

.appointment div img {
    height: 6vh;
    padding: 2vh 1vh;
}

.inquiry {
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh;
}

.inquiry div {
    display: flex;
}

.inquiry div img {
    height: 6vh;
    padding: 2vh 1vh;
}

.addnew p {
    color: rgba(0, 105, 255, 1);
    font-size: 1.8vh;
    font-weight: 450;
    padding: 1vh;
}

.addnew .details {
    color: rgba(68, 81, 114, 0.75);
    font-size: 1.5vh;
    font-weight: normal;
}

.inquiry a {
    color: #0069FF;
    display: block;
    font-family: inter;
    font-size: 1.7vh;
    text-decoration: none;
}

.appointment a {
    color: #0069FF;
    display: block;
    font-family: inter;
    font-size: 1.7vh;
    text-decoration: none;
}