.prescriptionsDiv {
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  color: rgba(68, 81, 114, 1);
  margin-top: 4vh;
  padding: 1vh 3vh 2vh;
}

body {
  font-family: inter;
  margin: 0;
}

.content {
  display: flex;
}

.patientDiv {
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

.cancelbutton {
  background-color: #0069FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}

.prescriptionsDiv h1 {
  color: rgba(68, 81, 114, 1);
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.menu #appointments {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}

.menu #appointments::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.appointments {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.appointments::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}