.inquiriesDiv {
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    margin-top: 4vh;
    padding: 1vh 3vh 2vh;
}

.inquiriesDiv h1 {
    color: rgba(68, 81, 114, 1);
    font-size: 24px;
    font-weight: bold;
    margin-top: 2.5vh;
}

body {
    font-family: inter;
    margin: 0;
    scroll-behavior: smooth;

    /* overflow: hidden; */
}

.content {
    display: flex;
}

.patientDiv {
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
}

.main {
    flex: 1;
    margin-bottom: 3%;
    margin-left: 220px;
}

.patientInfoContainer {
    margin-left: 3vw;
    margin-top: 5vh;
    width: 80%;
}

.menu {
    border-bottom: solid;
    border-color: rgba(164, 174, 199, 1);
    border-width: 0.1vh;
    display: flex;
    margin-top: 4vh;
    padding-bottom: 0.1vh;
}

.menu a {
    color: rgba(164, 174, 199, 1);
    font-family: inter;
    font-size: 2vh;
    margin-bottom: 1vh;
    margin-right: 6.5vh;
    text-decoration: none;
}

menu a:active {
    color: #0069FF;
}

a:hover {
    color: #17058aee;
}

.asterisk {
    color: red;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.emailInput,
.nameInput,
.messageInput {
    width: 100%;
}

.emailInput,
.nameInput {
    flex: 1;
}

.messageInput {
    height: 150px;
}

.required-label {
    color: #0069ff;
}

.Input {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.2rem #e3e8f4;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: rgba(68, 81, 114, 0.75);
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 16rem;
}

.messageInput {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.2rem #e3e8f4;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: rgba(68, 81, 114, 0.75);
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    height: 8rem;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 80%;
}

.inquiriesDiv button {
    align-items: center;
    background-color: #0069ff;
    border-color: #0069ff;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    justify-content: center;
    line-height: 1.2125;
    text-align: center;
    white-space: nowrap;
    width: 5rem;
    cursor: pointer;
}

.menu #inquiries {
    border-color: #0069FF;
    border-spacing: 2cm;
    color: #0069FF;
    position: relative;
}

.menu #inquiries::after {
    background-color: #0069FF;
    bottom: -8px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.inquiries {
    background-color: rgba(68, 81, 114, 1);
    position: relative;
}

.inquiries::before {
    background-color: #0069FF;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}