body {
  font-family: inter;
  margin: 0;
  /* overflow: hidden; */
}


.content {
  display: flex;
}


.adminDiv {
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
}


.main {
  flex: 1;
  margin-left: 220px;
  margin-bottom: 3%;
}


.adminInfoContainer {
  width: 70%;
  margin-top: 5vh;
  margin-left: 3vw;

}


.menu {
  margin-top: 2vh;
  display: flex;
  border-bottom: solid;
  padding-bottom: 0.1vh;
  border-width: 0.1vh;
  border-color: rgba(164, 174, 199, 1);

}

.menu a {
  margin-right: 6.5vh;
  font-size: 2vh;
  font-family: inter;
  margin-bottom: 1vh;
  color: rgba(164, 174, 199, 1);
  text-decoration: none;
}

.menu a:active {
  color: #0069FF;
}

a:hover {
  color: #17058aee;
}


.searchDiv {
  margin-top: 4vh;
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  padding: 1vh 3vh 2vh;
  height: 50vh;

}


.searchDiv h1 {
  font-weight: bold;
  font-family: inter;

  color: rgba(68, 81, 114, 1);
  font-size: 22px;
}

.line1 {
  width: 53rem;
  height: 0.05rem;
  left: 17.5rem;
  top: 23.5rem;
  background-color: rgba(68, 81, 114, 0.75);

}


.sessionname {
  text-align: center;
  font-size: 16px;
  ;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.text {
  left: 19rem;
  top: 28rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  text-align: center;
}

/* .line2 {
    width: 13.5rem;
    height: 0.1rem;
    left: 19rem;
    top: 10rem;
    background-color: rgba(68, 81, 114, 0.75);
  } */

.rectangle-70-mtM {
  width: 13.5rem;
  height: 2rem;
  left: 19rem;
  top: 32rem;
  background-color: rgba(0, 105, 255, 0.75);
  border-radius: 0.5rem;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  border-color: rgba(0, 105, 255, 0.75);
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box1 {
  width: calc(30% - 10px);
  /* Adjust width as needed with a gap */
  border-radius: 1.7vh;
  margin-top: 2.5vh;
  padding: 1vh 0vh;
  background-color: white;
  text-align: center;
}

.reg {
  margin-left: 35vh;
  margin-top: 20vh;
  background-color: #E3E8F4;
  width: 65vh;
  height: 20vh;
  border-color: #E3E8F4;
  text-align: center;
  font-size: 2.1vh;
  font-weight: 35vh;
  font-family: inter;
  padding-top: 1vh;
  border-radius: 1.7vh;

}

.but {
  Width: 55vh;
  height: 5vh;
  padding-top: 0.5vh;
  border-radius: 0.8vh;
  background-color: #0069FF;
  color: white;
  font-size: 2.3vh;
  font-weight: 30vh;

}

but :active {
  background-color: #006aff50;

}

.menu #appointments {
  color: #0069FF;
  border-color: #0069FF;
  border-spacing: 2cm;
  position: relative;
}

.menu #appointments::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0069FF;
}

.sessions {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.sessions::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px; 
  background-color: #0069FF; 
}