.prescriptionsDiv {
  margin-top: 2.5vh;
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  padding: 1vh 3vh 2vh;
}


.prescriptionsDiv h1 {
  font-weight: bold;
  color: rgba(68, 81, 114, 1);
}


.file {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0.1vh;
  border-color: rgba(68, 81, 114, 0.5);
  border-radius: 5px;
  margin-bottom: 1vh;
}

.file p {
  padding: 0vh 2vh;
}


.file .description {
  color: rgba(0, 105, 255, 1);
}


.file .desDiv {
  display: flex;
}

.file .desDiv img {
  height: 3vh;
  padding: 1.75vh 0vh 1vh 1.5vh;
}

.file img[alt="download-icon"] {
  height: 3vh;
  padding: 1.75vh 1.5vh 1vh 1.5vh;
}

.file img[alt="eye-icon"] {
  height: 3vh;
  padding: 1.75vh 1.5vh 1vh 1.5vh;
}

.addnewHeading {
  font-size: 2vh;
  font-weight: bold;
  margin-top: 4vh;
}


.addnew {
  display: flex;
}


.appointment {
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  padding: 1vh 3vh;
  margin-right: 3vh;
}

.appointment div {
  display: flex;
}

.appointment div img {
  height: 6vh;
  padding: 2vh 1vh;
}


.inquiry {
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  padding: 1vh 3vh;
}

.inquiry div {
  display: flex;
}

.inquiry div img {
  height: 6vh;
  padding: 2vh 1vh;
}


.addnew p {
  padding: 1vh;
  color: rgba(0, 105, 255, 1);
  font-weight: 450;
  font-size: 1.8vh;
}

.addnew .details {
  font-size: 1.5vh;
  font-weight: normal;
  color: rgba(68, 81, 114, 0.75);
}


body {
  font-family: inter;
  margin: 0;
}


.content {
  display: flex;
}





.patientDiv {
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
}


.profile {
  background-color: rgba(53, 70, 109, 1);
  padding: 0.2vh;
  margin-bottom: 2.5vh;
}


.profile p {
  color: #ffffff;
  font-size: 1.8vh;
  font-weight: bold;
  font-family: inter;
}

.main {
  flex: 1;

}

.navBar {
  background-color: rgba(138, 150, 181, 1);
  height: 7vh;
}

.navBar p {
  margin: 0;
  float: right;
  padding: 2.5vh 0vw;
  color: #ffffff;
  font-size: 1.7vh;
  font-family: inter;
}

.navBar img {
  float: right;
  padding: 1.3vh 2vw;
  height: 4vh;
}

.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;
}


.patientInfo {
  display: flex;
}


.patientInfo img {
  height: 10vh;
  margin-right: 1.5vw;
}


.patientNameDiv {
  padding: 0.01vh 0;
}


.patientInfo .name {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgba(68, 81, 114, 1);
  font-family: inter;
}

.patientInfo .role {
  font-size: 1.8vh;
  margin-top: 0vh;
  padding-top: 0;
}


.menu {
  margin-top: 2vh;
  display: flex;
  border-bottom: solid;
  padding-bottom: 0.1vh;
  border-width: 0.1vh;
  border-color: rgba(164, 174, 199, 1);
}

.menu a {
  margin-right: 6.5vh;
  font-size: 2vh;
  font-family: inter;
  margin-bottom: 1vh;
  color: rgba(164, 174, 199, 1);
  text-decoration: none;
}

menu a:active {
  color: #0069FF;
}

a:hover {
  color: #0069FF;
}

/* Modal */
.prescriptionsDiv .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.prescriptionsDiv .modal-content {
  background-color: #fff;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 35%;
  position: relative;
}

.prescriptionsDiv .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.prescriptionsDiv .close1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.prescriptionsDiv .modal-content a {
  font-size: 11px;
}

.prescriptionsDiv .modal-content .model-head {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 4px;
  gap: 8px;
}

.prescriptionsDiv .modal-content .model-head img {
  width: 40px;
  height: 40px;
}

.prescriptionsDiv .modal-content .model-details {
  display: grid;
  grid-template-columns: auto auto;
}

.prescriptionsDiv .modal-content .model-details>div {
  font-size: 12px;
  padding: 2px 0;
}

.prescriptionsDiv .modal-content .pres-box {
  margin-top: 10px;
  padding: 5px 10px 10px 10px;
  border: 0.7px solid rgb(128, 123, 123);
  min-height: 20px;
  border-radius: 10px;
}

.prescriptionsDiv .modal-content label {
  font-size: 14px;
}

.prescriptionsDiv .modal-content .pres-box div {
  margin-top: 3px;
  font-size: 12px;
}

.prescriptionsDiv .modal-content .pres-box table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 6px;
  margin-bottom: 6px;
}

.prescriptionsDiv .modal-content .pres-box table tr {
  border-bottom: 1px solid #ddd;
}

.prescriptionsDiv .modal-content .pres-box table td {
  font-size: 12px;
}

.prescriptionsDiv .modal-content .test-box {
  min-height: 20px;
  margin-top: 10px;
}

.prescriptionsDiv .modal-content .test-box table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 6px;
  margin-bottom: 20px;
}

.prescriptionsDiv .modal-content .test-box table td {
  border-bottom: 1px solid #ddd;
}

.prescriptionsDiv .modal-content .test-box table td {
  font-size: 12px;
}

.prescriptionsDiv .modal-content .notice {
  font-size: 10px;
  margin-top: 6px;
  text-align: center;
}

.qr-button {
  background-color: #0069FF;
  color: white;
  float: right;
  border-radius: 10%;
  border-color: #0069FF;
  margin-top: -10px;
}

.inquiry a {
  display: block;
  font-size: 1.7vh;
  font-family: inter;
  color: #0069FF;
  text-decoration: none;
}

.appointment a {
  display: block;
  font-size: 1.7vh;
  font-family: inter;
  color: #0069FF;
  text-decoration: none;
}


/* Style for logout button and container */
#logoutOption {
  display: none;
  position: absolute;
  top: 10vh;
  right: 2vw;
  width: 150px;
  height: 25px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content horizontally */
}

#logoutButton {
  color: #fff;
  background-color: #ff0000;
  padding: 5px 40px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: inline-block; /* Display as inline block */
}

#logoutButton:hover {
  background-color: #cc0000;
}





