.inquiriesDiv {
    margin-top: 4vh;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh 2vh;
    position: relative;
}


.inquiriesDiv h1 {
    margin-top: 2vh;
    font-weight: bold;
    color: #0069ff;
    font-size: 24px;
}


body {
    font-family: inter;
    margin: 0;
    /* overflow: hidden; */
}


.content {
    display: flex;
}


.mainOptions {
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    font-family: inter;
}


.sideMenu p {
    padding-left: 3vh;
}


.patientDiv {
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
}


.profile {
    background-color: rgba(53, 70, 109, 1);
    padding: 0.2vh;
    margin-bottom: 2.5vh;
}


.profile p {
    color: #ffffff;
    font-size: 1.8vh;
    font-weight: bold;
    font-family: inter;
}


.main {
    flex: 1;
    margin-left: 220px;
    margin-bottom: 3%;
}


.patientInfoContainer {
    width: 80%;
    margin-top: 5vh;
    margin-left: 3vw;
}


.accInfo {
    display: flex;
    flex-direction: row;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sub1 {
    color: rgba(68, 81, 114, 1);
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 55px; 
    margin-right: 20px;
}

.sub2 {
    color: rgba(68, 81, 114, 1);
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 280px; 
    margin-right: 20px;
}

.accInfo {
    border-top: 1px solid rgba(68, 81, 114, 0.75);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.parallel {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(68, 81, 114, 0.75);
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-right: 50px; 
}


.input {
    width: 28rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2125;
    color: rgba(68, 81, 114, 0.75);
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.2rem #e3e8f4;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
    margin-bottom: 15px;
}


.inquiriesDiv button {
    width: 15rem;
    height: 2rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0069ff;
    border-radius: 0.5rem;
    border-color: #0069ff;
    flex-shrink: 0;
    margin-top: 15px;
}

.para {
    color: rgba(68, 81, 114, 0.75);
}

.patientInfoContainer .inquiriesDiv .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .inquiriesDiv .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .inquiriesDiv .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .inquiriesDiv .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .menu #security {
    color: #0069FF;
    border-color: #0069FF;
    border-spacing: 2cm;
    position: relative;
  }
  
  .menu #security::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0069FF;
  }

