.inquiriesDiv {
    margin-top: 4vh;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh 2vh;
    position: relative;
}


.inquiriesDiv h1 {
    margin-top: 2vh;
    font-weight: bold;
    color: #0069ff;
    font-size: 24px;
}


body {
    font-family: inter;
    margin: 0;
    scroll-behavior: smooth;
}


.content {
    display: flex;
}

.mainOptions {
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    font-family: inter;
}

.patientDiv {
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
}


.main {
    flex: 1;
    margin-left: 220px;
    margin-bottom: 3%;
}

.patientInfoContainer {
    width: 80%;
    margin-top: 5vh;
    margin-left: 3vw;
}


.patientInfo {
    display: flex;
}


.patientNameDiv {
    padding: 0.01vh 0;
    margin-left: 20px;
}

.patientInfo .name {
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgba(68, 81, 114, 1);
    font-family: inter;
}

.patientInfo .role {
    font-size: 1.8vh;
    margin-top: 0vh;
    padding-top: 0;
}


.accInfo {
    display: flex;
    flex-direction: row;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sub1 {
    color: rgba(68, 81, 114, 1);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 80px;
    margin-right: 20px;
}

.sub2 {
    color: rgba(68, 81, 114, 1);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 625px;
    margin-right: 20px;
}

.sub3 {
    color: rgba(68, 81, 114, 1);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 865px;
    margin-right: 20px;
}

.accInfo {
    border-top: 1px solid rgba(68, 81, 114, 0.75);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.parallel {
    display: flex;
    flex-direction: row;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 50px;
}


.input {
    width: 28rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2125;
    color: rgba(68, 81, 114, 0.75);
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.2rem #e3e8f4;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.input2 {
    width: 59rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2125;
    color: rgba(68, 81, 114, 0.75);
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.2rem #e3e8f4;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.text {
    font-size: 12px;
    font: italic;
}

.content .main .patientInfoContainer .inquiriesDiv button {
    width: 15rem;
    height: 2rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-radius: 0.5rem;
    border-color: grey;
    flex-shrink: 0;
    margin-top: 15px;
}

.profile-pic-container {
    position: relative;
    display: inline-block;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic-container img {
    width: 100%;
    height: auto;
}

.profile-pic-container:hover .edit-icon {
    display: block;
}

.profile-pic-container .edit-icon {
    position: absolute;
    top: 55%;
    left: 45%;
    height: 5vh;
    width: 5vh;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}

.menu #personalinfo {
    color: #0069FF;
    border-color: #0069FF;
    border-spacing: 2cm;
    position: relative;
}

.menu #personalinfo::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0069FF;
}

.profile {
    background-color: rgba(68, 81, 114, 1);
    position: relative;
}

.profile::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #0069FF;
}