.reportsDiv {
  margin-top: 4vh;
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  padding: 1vh 3vh 2vh;
}


.reportsDiv h1 {
  font-weight: bold;
  color: rgba(68, 81, 114, 1);
}


.file {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0.1vh;
  border-color: rgba(68, 81, 114, 0.5);
  border-radius: 5px;
  margin-bottom: 1vh;
}

.file p {
  padding: 0vh 2vh;
}


.file .description {
  color: rgba(0, 105, 255, 1);
}


.file .desDiv {
  display: flex;
}

.file .desDiv img {
  height: 3vh;
  padding: 1.75vh 0vh 1vh 1.5vh;
}

.file img[alt="download-icon"] {
  height: 3vh;
  padding: 1.75vh 1.5vh 1vh 1.5vh;
}

.file img[alt="eye-icon"] {
  height: 3vh;
  padding: 1.75vh 1.5vh 1vh 1.5vh;
}


body {
  font-family: inter;
  margin: 0;
}


.content {
  display: flex;
}


.main {
  flex: 1;
  margin-left: 220px;
  margin-bottom: 3%;
}


.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;
}

/* Modal */
.reportsDiv .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.reportsDiv .modal-content {
  background-color: #fff;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 35%;
  position: relative;
}

.reportsDiv .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.reportsDiv .close1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.reportsDiv .modal-content a {
  font-size: 11px;
}

.reportsDiv .modal-content .model-head {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 4px;
  gap: 8px;
}

.reportsDiv .modal-content .model-head img {
  width: 40px;
  height: 40px;
}

.reportsDiv .modal-content .model-details {
  display: grid;
  grid-template-columns: auto auto;
}

.reportsDiv .modal-content .model-details>div {
  font-size: 12px;
  padding: 2px 0;
}

.reportsDiv .modal-content .pres-box {
  margin-top: 10px;
  padding: 5px 10px 10px 10px;
  border: 0.7px solid rgb(128, 123, 123);
  min-height: 20px;
  border-radius: 10px;
}

.reportsDiv .modal-content label {
  font-size: 14px;
}

.reportsDiv .modal-content .pres-box div {
  margin-top: 3px;
  font-size: 12px;
}

.reportsDiv .modal-content .pres-box table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 6px;
  margin-bottom: 6px;
}

.reportsDiv .modal-content .pres-box table tr {
  border-bottom: 1px solid #ddd;
}

.reportsDiv .modal-content .pres-box table td {
  font-size: 12px;
}

.reportsDiv .modal-content .test-box {
  min-height: 20px;
  margin-top: 10px;
}

.reportsDiv .modal-content .test-box table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 6px;
  margin-bottom: 20px;
}

.reportsDiv .modal-content .test-box table td {
  border-bottom: 1px solid #ddd;
}

.reportsDiv .modal-content .test-box table td {
  font-size: 12px;
}

.reportsDiv .modal-content .notice {
  font-size: 10px;
  margin-top: 6px;
  text-align: center;
}

.menu #reports {
  color: #0069FF;
  border-color: #0069FF;
  border-spacing: 2cm;
  position: relative;
}

.menu #reports::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0069FF;
}