.reportsDiv {
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  margin-top: 4vh;
  padding: 1vh 3vh 2vh;
}

.reportsDiv h1 {
  color: rgba(68, 81, 114, 1);
  font-size: 24px;
  font-weight: bold;
}

.file {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;

  /* border-style: solid;
  border-width: 0.1vh;
  border-color: rgba(68, 81, 114, 0.5); */
}

.file p {
  padding: 0vh 2vh;
}

.file .description {
  color: rgba(0, 105, 255, 1);
  font-weight: 500;
}

.file .desDiv {
  display: flex;
}

.file .desDiv img {
  height: 3vh;
  padding: 1.75vh 0vh 1vh 1.5vh;
}

.file img[alt="download-icon"] {
  height: 3vh;
  padding: 1.75vh 1.5vh 1vh 1.5vh;
}

.file img[alt="eye-icon"] {
  height: 3vh;
  padding: 1.75vh 1.5vh 1vh 1.5vh;
}

.file .imgclass img {
  height: 3vh;
  padding: 1.75vh 1.5vh 1vh 1.5vh;
}

.file .imgclass {
  display: flex;
  justify-content: flex-end;
  width: 6vw;
}

body {
  font-family: inter;
  margin: 0;
}

.content {
  display: flex;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

/* Modal */
.reportsDiv .modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.reportsDiv .modal-content {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 10px;
  height: 315px;
  margin: 8% auto;
  padding: 20px;
  position: relative;
  width: 35%;
}

.reportsDiv .close {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.reportsDiv .close1 {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.reportsDiv .modal-content a {
  font-size: 11px;
}

.reportsDiv .modal-content .model-head {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 4px;

  >div {
    align-items: center;
    background-color: #ff8100;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    height: 35px;
    justify-content: center;
    margin-left: 0px;
    margin-right: 5px;
    min-height: 35px;
    min-width: 35px;
    width: 35px;
  }
}

.reportsDiv .modal-content .model-head img {
  height: 40px;
  width: 40px;
}

.reportsDiv .modal-content .model-details {
  display: grid;
  grid-template-columns: auto auto;
}

.reportsDiv .modal-content .model-details>div {
  font-size: 12px;
  padding: 2px 0;
}

.reportsDiv .modal-content .pres-box {
  border: 0.7px solid rgb(128, 123, 123);
  border-radius: 10px;
  margin-top: 10px;
  min-height: 20px;
  padding: 5px 10px 10px 10px;
}

.reportsDiv .modal-content label {
  font-size: 14px;
}

.reportsDiv .modal-content .pres-box div {
  font-size: 12px;
  margin-top: 3px;
}

.reportsDiv .modal-content .pres-box table {
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  margin-bottom: 6px;
  margin-top: 6px;
  width: 100%;
}

.reportsDiv .modal-content .pres-box table tr {
  border-bottom: 1px solid #ddd;
}

.reportsDiv .modal-content .pres-box table td {
  font-size: 12px;
}

.reportsDiv .modal-content .test-box {
  margin-top: 10px;
  min-height: 20px;
}

.reportsDiv .modal-content .test-box table {
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 6px;
  width: 100%;
}

.reportsDiv .modal-content .test-box table td {
  border-bottom: 1px solid #ddd;
}

.reportsDiv .modal-content .test-box table td {
  font-size: 12px;
}

.status.Pending {
  color: red;
  font-weight: bold;
}

.status.Ready {
  color: green;
  font-weight: bold;
}

.reportsDiv .modal-content .test-box table th {
  font-size: 12px;
  text-align: left;
}

.reportsDiv .modal-content .notice {
  font-size: 10px;
  margin-top: 6px;
  text-align: center;
}

.menu #reports {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}

.menu #reports::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.reports {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.reports::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.modal-content .report-button {
  background-color: #0069FF;
  border-color: #0069FF;
  border-radius: 10%;
  color: white;
  cursor: pointer;
  float: right;
  height: 20px;
  margin-top: 10px;
  width: 100px;
}