html {
	font-size:50%;
}
 
body {
    margin: 0px;
    overflow: hidden;
    
}
.signUp-page-3 {
    width: 100%;
    overflow: hidden;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.signUp-page-3 .upperRectangle {
  
  width: 100%;
    height: 5.5rem;
    background-color: rgba(0, 105, 255, 0.75);
    flex-shrink: 0;
}
.signUp-page-3 .upperRectangle .sample-user-name-here {
  margin-right: 2.65rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signUp-page-3 .upperRectangle .line {
  margin-right: 3rem;
  width: 0.2rem;
  height: 4.8rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.signUp-page-3 .upperRectangle .vector-nZP {
  width: 5.3rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.signUp-page-3 .container {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 8rem 3.45rem 3.7rem 37.4rem;
  width: calc(100% - 0.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #e3e8f4;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm {
  margin: 0rem 34.05rem 6.8rem 0rem;
  box-sizing: border-box;
  padding-right: 6.8rem;
  width: calc(100% - 34.05rem);
  height: 71.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .sideRectangle {
  margin-right: 4.2rem;
  width: 52.1rem;
  height: 71.7rem;
  border: solid 0.1rem #e3e8f4;
  box-sizing: border-box;
  background-color: #0069ff;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 {
  margin: 2rem 0rem 4rem 0rem;
  margin-top: 2rem;
  width: 54rem;
  height: calc(100% - 7.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .group2 {
  box-sizing: border-box;
  padding: 0rem 0rem 2.105rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .group2 h1 {
  margin-bottom: 2.5rem;
  margin-top: 1.0rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.0;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .group2 .box1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .group2 .box1 .nic {
  margin-bottom: 0.3413rem;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .group2 .box1 .input1 {
  width: 100%;
  height: 6.3139rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #e3e8f4;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .container3 {
  width: 100%;
  height: 9.2604rem;
  position: relative;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .container3 .group3 {
  box-sizing: border-box;
  padding-left: 1.5rem;
  width: 27rem;
  height: 9.25rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}
.signUp-page-3 .container .detailsForm .container2 .container3 .group3 .dob {
    margin: 0rem 18.6rem 0.446rem 0rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #0069ff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
}

.signUp-page-3 .container .detailsForm .container2 .container3 .group3 .dob .dob-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-page-3 .container .detailsForm .container2 .container3 .group3 .DOB {
  box-sizing: border-box;
  padding: 1.579rem 1.5rem 2.035rem 1.5rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signUp-page-3 .container .detailsForm .container2 .container3 .group4 {
  box-sizing: border-box;
  padding-left: 5.3rem;
  width: 30.8rem;
  height: 9.2604rem;
  position: absolute;
  left: 23.2rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.signUp-page-3 .container .detailsForm .container2 .container3 .group4 .age {
  margin: 0rem 18.6rem 0.446rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.signUp-page-3 .container .detailsForm .container2 .container3 .group4 .age .age-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-page-3 .container .detailsForm .container2 .container3 .group4 .agehere {
  box-sizing: border-box;
  padding: 1.579rem 1.5rem 2.035rem 1.5rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .container4 {
  box-sizing: border-box;
  padding: 1rem 0rem 0rem 1.4rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .container4 .group5 {
  margin-bottom: 1rem;
  width: 52.5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .container4 .group5 .home-address {
  margin-bottom: 0.3413rem;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.signUp-page-3 .container .detailsForm .container2 .container4 .group5 .address {
  box-sizing: border-box;
  padding: 1.578rem 3.1rem 2.035rem 3.1rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signUp-page-3 .container .detailsForm .container2 .container4 .group6 {
  margin: 0rem 0.1rem 4.592rem 0rem;
  width: 52.5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-page-3 .container .detailsForm .container2 .container4 .group6 .contact-number {
  margin-bottom: 0.4rem;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.signUp-page-3 .container .detailsForm .container2 .container4 .group6 .contactNo {
  box-sizing: border-box;
  padding: 1.578rem 3.2rem 2.035rem 3.2rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signUp-page-3 .container .detailsForm .container2 .container4 .group7 {
  width: 52.5rem;
  height: 6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #397a49;
  border-radius: 1rem;
  border-color: #397a49;
  flex-shrink: 0;
}
.signUp-page-3 .container .group8 {
  margin-left: 116.9rem;
  width: calc(100% - 116.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.signUp-page-3 .container .group8 .terms-of-service-HBw {
  margin-right: 2rem;
  margin-top: -5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  text-decoration-line: underline;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
  margin-left: 2rem;
}
.signUp-page-3 .container .group8 .terms-of-service-HBw .terms-of-service-HBw-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
}
.signUp-page-3 .container .group8 .terms-of-service-HBw .terms-of-service-HBw-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
}
.signUp-page-3 .container .group8 .privacy-policy-wZK {
  text-align: center;
  margin-top: -5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  text-decoration-line: underline;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.signUp-page-3 .container .group8 .privacy-policy-wZK .privacy-policy-wZK-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
}
.signUp-page-3 .container .group8 .privacy-policy-wZK .privacy-policy-wZK-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
}

.required {
  color: red;
}

