html {
	font-size:50%;
}
 
body {
    margin: 0px;
    overflow: hidden;
}
.signUp-Email-2 {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.signUp-Email-2 .upperRectangle {
  box-sizing: border-box;
  padding: 2.8rem 3rem 2.7rem 143.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 105, 255, 0.75);
  flex-shrink: 0;
}
.signUp-Email-2 .container {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 19.4rem 53.8rem 26.7rem 56.6rem;
  width: calc(100% - 0.5rem);
  height: 100rem;
  background-color: #e3e8f4;
  flex-shrink: 0;
}
.signUp-Email-2 .container .confirmationForm {
  box-sizing: border-box;
  padding: 4.4rem 8.5rem 9rem 8.4rem;
  width: 100%;
  height: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 2.7rem;
  margin-top: 25px;
}
.signUp-Email-2 .container .confirmationForm h1 {
  margin-bottom: 4.4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.signUp-Email-2 .container .confirmationForm .sampleEmail {
  margin-bottom: 4rem;
  max-width: 38.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
  margin-left: 50px;
}

.signUp-Email-2 .container .confirmationForm .line1 {
  /* margin: 0rem 10.9rem 3.2rem 10.9rem; */
  width: 430px;
  height: 0.1rem;
  background-color: rgba(68, 81, 114, 0.75);
  flex-shrink: 0;
  margin-bottom: 3.2rem;
}
.signUp-Email-2 .container .confirmationForm .text1 {
  margin-bottom: 3.8rem;
  max-width: 44.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
  margin-left: 25px;
}
.signUp-Email-2 .container .confirmationForm .box1.disabled,
.signUp-Email-2 .container .confirmationForm .box1.box1.enabled {
  margin: 0 6.1rem;
  width: calc(100% - 12.2rem);
  height: 6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  flex-shrink: 0;
}

.signUp-Email-2 .container .confirmationForm .box1.disabled {
    background-color: grey; 
    background-color: grey; 
    border-color: grey;
    color: white; 
    cursor: not-allowed; 
  }
  
  .signUp-Email-2 .container .confirmationForm .box1.enabled {
    background-color: #0069ff; 
    background-color: #0069ff;
    border-color: #0069ff;
    color: white; 
    cursor: pointer; 
  }
  


