html {
	font-size:50%;
}
 
body {
    margin: 0px;
    overflow: hidden;
}
.signUp-Phone {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  
}
.signUp-Phone .upperRectangle {
    width: 100%;
    height: 5.5rem;
    background-color: rgba(0, 105, 255, 0.75);
    flex-shrink: 0;
}
.signUp-Phone .container {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 5rem 64.6rem 9.1rem 64.3rem;
  width: calc(100%);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e3e8f4;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form {
  margin: 0rem 1.8rem 1.8rem 1.8rem;
  box-sizing: border-box;
  padding: 2rem 3.3rem 5rem 3.5rem;
  width: calc(100% - 3.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form h1 {
  margin: 3rem 0rem 1.8rem 0.1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form .sign-up-with-email-instead {
  margin: 0rem 0.2rem 3.9rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form .sign-up-with-email-instead .sign-up-with-email-instead-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .register-form .sign-up-with-email-instead .sign-up-with-email-instead-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #388aff;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .register-form .sign-up-with-email-instead .sign-up-with-email-instead-sub-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .register-form .box1 {
  margin: -1rem 0rem 2.1rem 0.2rem;
  width: 52.5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form .box1 .first-name  {
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.signUp-Phone .container .register-form .box1 .first-name  .first-name-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .register-form .box1 .firstNameInput {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 1.8rem 3.1rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signUp-Phone .container .register-form .box2 {
  margin: -1rem 0rem 2.4rem 0.2rem;
  width: 52.5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form .box2 .last-name  {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.signUp-Phone .container .register-form .box2 .last-name  .last-name-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .register-form .box2 .lastNameInput {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 1.8rem 3.1rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signUp-Phone .container .register-form .box3 {
  margin: -1rem 0rem 2.7rem 0.2rem;
  width: 52.5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form .box3 .phone-number {
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.signUp-Phone .container .register-form .box3 .phone-number .phone-number-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .register-form .box3 .phoneInput {
  box-sizing: border-box;
  padding: 1.5rem 3.1rem 1.8rem 3.1rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
}
.signUp-Phone .container .register-form .box4 {
  margin: -1rem 0rem 2.7rem 0.2rem;
  width: 52.5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form .box4 .password {
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.signUp-Phone .container .register-form .box4 .password .password-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .register-form .box4 .passwordInput {
  box-sizing: border-box;
  padding: 1.5rem 3.2rem 1.8rem 3.2rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #e3e8f4;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.signUp-Phone .container .register-form .box5 {
  margin-right: 0.2rem;
  width: 52.5rem;
  height: 6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #397a49;
  border-radius: 1rem;
  border-color: #397a49;
  flex-shrink: 0;
}
.signUp-Phone .container .Conditions {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.signUp-Phone .container .Conditions .Conditions-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .Conditions .Conditions-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .Conditions .Conditions-sub-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .Conditions .Conditions-sub-3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .Conditions .Conditions-sub-4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #388aff;
  font-family: Inter, 'Source Sans Pro';
}
.signUp-Phone .container .Conditions .Conditions-sub-5 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
}

.error-msg {
  font-family: Inter, 'Source Sans Pro';
  color: 'red';
  font-size: '18px';
  margin-top: 1px;
}
