html {
  font-size: 50%;
}

body {
  font-family: inter;
  margin: 0px;
  overflow: hidden;
}

.sign-up-page {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sign-up-page .upperRectangle {
  background-color: rgba(0, 105, 255, 0.75);
  flex-shrink: 0;
  height: 5.5rem;
  width: 100%;
}

.sign-up-page .container {
  align-items: center;
  background-color: #e3e8f4;
  border: solid 0.1rem rgba(0, 105, 255, 0.75);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10rem 64.4rem 25.6rem 64.5rem;
  width: 100%;
}

.sign-up-page .container .sign-up-form {
  align-items: center;
  background-color: #ffffff;
  border: solid 0.1rem #e3e8f4;
  border-radius: 2.7rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0rem 1.9rem 2rem 1.7rem;
  padding: 3.9rem 3.3rem 2.5rem 3.6rem;
  width: calc(100% - 3.6rem);
}

.sign-up-page .container .sign-up-form h1 {
  color: #000000;
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-align: center;
  white-space: nowrap;
}

.sign-up-page .container .sign-up-form p {
  color: rgba(68, 81, 114, 0.75);
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  margin: 0rem 1.5rem 6.9rem 0rem;
  text-align: center;
  white-space: nowrap;
}

.sign-up-page .container .sign-up-form .sign-up-email {
  align-items: center;
  background-color: #ffffff;
  border: solid 0.1rem #0069ff;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #445172;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2.4rem;
  font-weight: 500;
  height: 6rem;
  justify-content: center;
  line-height: 1.2125;
  margin: 0rem 0.1rem 2.2rem 0rem;
  text-align: center;
  white-space: nowrap;
  width: 52.5rem;
}

.sign-up-page .container .sign-up-form .sign-up-phone {
  align-items: center;
  background-color: #ffffff;
  border: solid 0.1rem #0069ff;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #445172;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2.4rem;
  font-weight: 500;
  height: 6rem;
  justify-content: center;
  line-height: 1.2125;
  margin: 0rem 0rem 4.4rem 0.1rem;
  text-align: center;
  white-space: nowrap;
  width: 52.5rem;
}

.sign-up-page .container .sign-up-form .sign-up-email:hover {
  background-color: #0069ff;
  color: #ffffff;
  cursor: pointer;
}

.sign-up-page .container .sign-up-form .sign-up-phone:hover {
  background-color: #0069ff;
  color: #ffffff;
  cursor: pointer;
}

.sign-up-page .container .sign-up-form .line {
  background-color: #e3e8f4;
  flex-shrink: 0;
  height: 0.1rem;
  margin: 0rem 2.7rem 3.2rem 2.3rem;
  width: calc(100% - 4.9996rem);
}

.sign-up-page .container .sign-up-form .already-have-an-account-sign-in-here {
  align-items: baseline;
  color: #000000;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  text-align: center;
  white-space: nowrap;
}

.sign-up-page .container .sign-up-form.already-have-an-account-sign-in-here .already-have-an-account-sign-in-here-0 {
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.sign-up-page .container .sign-up-form .already-have-an-account-sign-in-here .already-have-an-account-sign-in-here-1 {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.sign-up-page .container .sign-up-form .already-have-an-account-sign-in-here .already-have-an-account-sign-in-here-2 {
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.sign-up-page .container .terms-and-conditions {
  align-items: baseline;
  color: #000000;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  text-align: center;
  white-space: nowrap;
}

.sign-up-page .container .terms-and-conditions .terms-and-conditions-0 {
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.sign-up-page .container .terms-and-conditions .terms-and-conditions-1 {
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.sign-up-page .container .terms-and-conditions .terms-and-conditions-2 {
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.sign-up-page .container .terms-and-conditions .terms-and-conditions-3 {
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}