.prescriptionsDiv {
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  margin-top: 4vh;
  padding: 1vh 3vh 2vh;
}

.file .description {
  color: rgba(0, 105, 255, 1);
}

.file .desDiv {
  display: flex;
}

body {
  font-family: inter;
  margin: 0;
}

.content {
  display: flex;
}

.mainOptions {
  color: white;
  font-family: inter;
  font-size: 2.2vh;
  font-weight: bold;
}

.sideMenu p {
  padding-left: 3vh;
}

.patientDiv {
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

.patientNameDiv {
  padding: 0.01vh 0;
}

.group {
  align-items: center;
  background-color: #ffffff;
  border: solid 0.25rem #0069ff;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: calc(100% - 5.1rem);
  height: 100px;
  justify-content: center;
  margin: 1.5rem 3rem 2.8rem 1.5rem;
  width: 100px;

  /* padding: 0.1rem 3.5rem 0.1rem 3rem; */
}

.number {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 18px;
  line-height: 1.5;

  /* text-align: center; */
  /* margin-right: 3rem; */
}

.number .number-sub-0 {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  line-height: 40px;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  row-gap: 2.5rem;
  width: 53.4rem;
}

.text .auto-group {
  align-items: left;
  color: rgba(68, 81, 114, 1);
  flex-shrink: 0;
  line-height: 2;
  width: calc(100% - 2rem);

  /* margin-left: 1rem; */
}

.align-button {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.popup {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.popup p {
  color: (68, 81, 114, 1);
  text-align: left;
}

.popup-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup button.confirm {
  background-color: #0069FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
}

.popup button.confirm.yes {
  background-color: red;
}

.popup button.confirm.no {
  background-color: #0069FF;
}

.popup button.buttonstyle {
  background-color: #0069FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-align: center;

  /* margin: 10px; */
  /* padding: 10px 20px; */
}

.prescriptionsDiv .section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.prescriptionsDiv .section-header h1 {
  align-items: center;
  display: flex;
  font-size: 24px;
}

.prescriptionsDiv .section-header img {
  height: 24px;
  margin-right: 10px;
  width: 24px;
}

.prescriptionsDiv h1 {
  color: rgba(68, 81, 114, 1);
  font-weight: bold;
  margin-right: 20px;
}

.buttonstyle {
  background-color: #0069ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  height: 2rem;
  margin-left: auto;
  width: 10rem;
}

.file {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  width: 55%;

  /* border-style: solid;
  border-width: 0.1vh;
  border-color: rgba(68, 81, 114, 0.5); */
}

.file p {
  padding: 0vh -1vh;
}

.addnewHeading {
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 1vh;
  margin-top: 4vh;
}

.prescriptionsDiv .policy {
  color: red;
  cursor: pointer;
  font-family: Inter, 'Source Sans Pro';
  font-size: 16px;
  left: 19rem;
  line-height: 1.2125;
  position: absolute;
  text-align: left;
  top: 29rem;
  white-space: nowrap;
}

.policyPopup {
  align-items: center;
  display: none;
  display: flex;
  height: 12rem;
  justify-content: center;
  left: 20rem;
  position: relative;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.policyContent {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.closeButton {
  background-color: #0069FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}

.menu #appointments {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}

.menu #appointments::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.appointments {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.appointments::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.bold {
  font-weight: bold;
}

.payment-status-box {
  align-items: center;
  border-radius: 5px;
  color: #fff;
  display: inline-flex;
  font-weight: bold;
  height: 2rem;
  justify-content: center;
  width: 5rem;
}

.payment-status-box.paid {
  background-color: green;
}

.payment-status-box.unpaid {
  background-color: red;
}