<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="home.css">
</head>

<body>
  <div class="welcomePage">
    <div class="container">
        <p class="mainTitle">Prescrip<span class="smart">Smart</span></p>
        <a href="#page2"><button id="selectRole">Select role</button></a>
    </div>
  </div>

  <div id="page2">
    <div id="selectRolePage">
      <p id="iam">I'm a<span class="dots">...</span></p>
      <div id="options">
        <button id="patient">Patient</button>
        <script>
          document.getElementById("patient").addEventListener("click", function () {
              window.location.href = "\\client\\patient\\authentication\\loginPage.html";
          });
        </script>
        <button id="labtechnician">Lab Technician</button>
        <script>
          document.getElementById("labtechnician").addEventListener("click", function () {
              window.location.href = "\\client\\lab tech\\authentication\\loginPage.html";
          });
        </script>
        <button id="doctor">Doctor</button>
        <script>
          document.getElementById("doctor").addEventListener("click", function () {
              window.location.href = "\\client\\doctor\\authentication\\loginPage.html";
          });
        </script>
        <button id="pharmacist">Pharmacist</button>
        <script>
          document.getElementById("pharmacist").addEventListener("click", function () {
              window.location.href = "\\client\\pharmacist\\authentication\\loginPage.html";
          });
        </script>
        <button id="Nurse">Nurse</button>
        <script>
          document.getElementById("nurse").addEventListener("click", function () {
              window.location.href = "\\client\\nurse\\authentication\\loginPage.html";
          });
        </script>
        <button id="systemadmin">System Admin</button>
        <script>
          document.getElementById("systemadmin").addEventListener("click", function () {
              window.location.href = "\\client\\Administrator\\authentication\\loginPage.html";
          });
        </script>
        <button id="receptionist">Receptionist</button>
        <script>
          document.getElementById("receptionist").addEventListener("click", function () {
              window.location.href = "\\client\\Receptionist\\authentication\\loginPage.html";
          });
        </script>
        <button id="healthsupervisor">Health Supervisor</button>
        <script>
          document.getElementById("healthsupervisor").addEventListener("click", function () {
              window.location.href = "client\\healthSupervisor\\authentication\\loginPage.html";
          });
        </script>
      </div>
    </div>
  </div>
</body>

</html>