<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Pharmacist 2Factor</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="styles/pharmacist_2factor.css" />
    <link rel="stylesheet" href="styles/sideMenu&navBar.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="content">
        <div class="sideMenu">
            <div class="logoDiv">
                <img class="logoImg" src="images/logo.png" />
            </div>

            <div class="userDiv">
                <p class="mainOptions">
                    <Datag>PHARMACIST</Datag>
                </p>
            </div>


            <div class="manageDiv">
                <p class="mainOptions">MANAGE</p>

                <a href="pharmacist_dashboard.html" class="active">Patients</a>
                <a href="pharmacist_allMedications.html">Medications</a>
                <a href="pharmacist_profile.html">Profile</a>
            </div>
            <div class="othersDiv">
                <p class="sideMenuTexts">Billing</p>
                <p class="sideMenuTexts">Terms of Services</p>
                <p class="sideMenuTexts">Privacy Policy</p>
                <p class="sideMenuTexts">Settings</p>
            </div>

        </div>
        <div class="container">
            <div class="navBar">
                <div class="navBar">
                    <img src="images/user.png"alt="user-icon">
                    <p>USERNAME</p>
                </div>
            </div>
            <div class="main">
                <div class="main-Container">
                    <div class="userInfo">
                        <img src="images/profile.png" alt="profile-pic">
                        <div class="userNameDiv">
                            <p class="name">Pharmacist Name</p>
                            <p class="role">Pharmacist</p>
                        </div>
                    </div>

                    <div class="menu">
                        <p><a href="pharmacist_profile.html">Account</a></p>
                        <p><a href="pharmacist_personalInfo.html">Personal Info</a></p>
                        <p><a href="" style="color: black; font-weight: 500;">Security</a></p>
                    </div>

                    <div class="pharmacistprofile">
                        <div class="empid">Employee Id :#123456
                            <div class="accountinfotext">Security Information</div>
                        </div>
                        <hr />
                        <div class="detail">
                            <div>
                                <form>
                                    <label>Method of Sign In</label><br>
                                    <input type="text" placeholder="email">
                                </form>
                            </div>
                            <div>
                                <form class="sample_username">
                                    <input type="text" placeholder="sample email/phoneNumber">
                                </form>
                            </div>
                       
                        </div>
                        
                        <hr/>
                        <div class="detail">
                            <div>
                                <form>
                                    <label>Two-Factor Authentication</label><br>
                                </form>
                                <p class="text">Add an extra layer of security to your account. To sign in, you'll need to provide a code along with your username and password</p>
                            </div>  
                        </div>
                        <div><button>SETUP 2FA</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>