body {
  font-family: Inter, 'Source Sans Pro';
  margin: 0;
}

.menu {
  display: flex;
  padding-bottom: 0.1vh;
  border-width: 0.1vh;
  border-color: rgba(164, 174, 199, 1);
}

.menu p {
  margin-right: 4vh;
  /* font-size: 1rem; */
  margin-bottom: 1vh;
  color: rgba(164, 174, 199, 1);
}

.menu p:last-child{
  font-weight: 600;
}


.menu p a{
  text-decoration: none;
  color: rgba(164, 174, 199, 1);

}

p a:active{
  color: black;
}

.divider{
width: 90%;
margin-left: 0;
color:rgba(164, 174, 199, 1);
}
.ash-box {
  width: 200px;
  height: 200px;
  background-color: #b2beb5; /* Ash color */
  border: 1px solid #666; /* Optional: Add a border */
}

.patientFile {    
  background-color: rgba(239, 242, 251, 1);
  padding: 110px 1.5vw;
  border-radius: 5px;
  width: 87%;
  min-height: 240px; /* Set a minimum height */
  position: relative; /* Make the parent element of the pagination */
  margin-top:20px;
}
  .patientFile h2{
    color: rgba(68, 81, 114, 1);
    margin-top: -87px;
    padding: 0;
    font-size: 24px;
  }
  
  .inquiry{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin-bottom: 10px;
    align-items: center;
  }

  .inquiry #idNO {
    margin-left: -213px;
    margin-right: -78px;
  }
  
  .inquiry button {
    border-style: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    height: 28px;
    width: 88px;    
  }
  
  .inquiry button:hover {
    background-color: rgb(21, 185, 24);
    cursor: pointer;
  }
  
  .inquiry img {
    height: 3vh;
    padding: 1.75vh 0vh 1vh 1.5vh;
    margin-right: 225px;
    margin-top:1px;
  }
    
  
  .inquiry p{
    color: rgba(68, 81, 114, 1);
    /* font-size: 1.1rem; */
    width: 33%;
  }
  
  #idNO{
    color:rgb(5, 83, 239);
  }

#scales{
  width: 15px;
  height: 15px;
}

.content {
  display: flex;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

.menu #history {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}
  
.menu #history::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
  
.history{
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.history::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}


  
.pagination {
  margin-top: 3vh;
  text-align: end;
  min-width: 300px;
  bottom:30px;
  left:350px;
}


.pagination a {
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  margin: 0 0.25rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0069FF;
  color: white;
}

.pagination a:hover {
  background-color: #0069FF;
  color: white;
}


.content {
  display: flex;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 220px;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

#name{
  margin-right: 169px;
}




  
  