
.menu .selectedMenu {
    color: black;
    font-weight: bold;
  }
  
  
  body {
    font-family: inter ;
    margin: 0;
  }
  
  
  .content {
    display: flex;
  }
  
  
  .sideMenu {
    min-width: 14vw;
    height: 100vh;
    background-color: rgba(7, 28, 74, 1);
  }
  
  
  .sideMenuTexts {
    font-size: 1.7vh;
    color: #ffffff;
    line-height: 1.5vh;
    font-family: inter;
  }
  
  .logoDiv {
    align-items: center;
    margin-bottom: 4vh;
  }
  
  .logoImg {
    display: block;
    margin: auto;
    height: 8vh;
    padding-top: 3vh;
  }
  
  
  .mainOptions {
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    font-family: inter;
  }
  
  
  .sideMenu p {
    padding-left: 3vh;
  }
  
  
  .patientDiv {
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
  }
  
  
  .profile {
    background-color: rgba(53, 70, 109, 1);
    padding: 0.2vh;
    margin-bottom: 2.5vh;
  }
  
  
  .profile p
  {
    color: #ffffff;
    font-size: 1.8vh;
    font-weight: bold;
    font-family: inter;
  }
  
  
  
  .manageDiv {
    padding-top: 3vh;
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
    padding-bottom: 9vh;
  }
  
  .manageDiv .mainOptions
  {
    margin-bottom: 5vh;
  }
  
  .manageDiv a
  {
      display:block;
      padding-left: 3vh;
      line-height: 3vh;
      font-size: 1.7vh;
      font-family: inter;
      color: #ffffff;
      text-decoration: none;
  }
  
  .othersDiv {
    padding-top: 3vh;
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
    padding-bottom: 3vh;
    color: white;
  }
  
  .othersDiv a
  {
      display:block;
      padding-left: 3vh;
      line-height: 3vh;
      font-size: 1.7vh;
      font-family: inter;
      color: #ffffff;
      text-decoration: none;
  }
  
  
  
  .main {
    flex: 1;
  
  }
  
  .navBar {
    background-color: rgba(138, 150, 181, 1);
    height: 7vh;
  }
  
  .navBar p {
    margin: 0;
    float: right;
    padding: 2.5vh 0vw;
    color: #ffffff;
    font-size: 1.7vh;
    font-family: inter;
  }
  
  .navBar img {
    float: right;
    padding: 1.3vh 2vw;
    height: 4vh;
  }
  
  .patientInfoContainer {
    width: 80%;
    margin-top: 5vh;
    margin-left: 3vw;
  }
  
  
  .patientInfo {
    display: flex;
  }
  
  
  .patientInfo img {
    height: 10vh;
    margin-right: 1.5vw;
  }
  
  
  .patientNameDiv {
    padding: 0.01vh 0;
  }
  
  
  .patientInfo .name {
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgba(68, 81, 114, 1);
    font-family: inter;
  }
  
  .patientInfo .role {
    font-size: 1.8vh;
    margin-top: 0vh;
    padding-top: 0;
  }
  
  
  .menu {
    margin-top: 2vh;
    display: flex;
    border-bottom: solid;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
  }
  
  .menu a {
    margin-right: 6.5vh;
    font-size: 2vh;
    font-family: inter;
    margin-bottom: 1vh;
    color: rgba(164, 174, 199, 1);
    text-decoration: none;
  }
  menu a:active
  {
    color: #0069FF;
  }
   a:hover
  {
    color:#17058aee;
  }
  
  
  
  
  
  .prescriptionsDiv {
    margin-top: 3vh;
    border-bottom: solid;
    padding-bottom: 5vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
  }
  
  .prescriptionsDiv h1{
    margin-left: 0.2vw;
    margin-bottom: 1.5vh;
  }
  
  #searchBar {
    padding: 1.6vh 35vw 1.8vh 1vw;
    border-radius: 0.5rem;
    border-style: none;
    background-color: rgba(239, 242, 251, 1);
    font-size: 1.1rem;
  }
  
  #searchButton {
    padding: 1.6vh 3vw;
    margin-left: 0.5vw;
    border-style: none;
    border-radius: 0.5rem;
    background-color: #0069FF;
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .patientFile {
    background-color: rgba(239, 242, 251, 1);
    margin-top: 3vh;
    padding: 2vh 1.2vw;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .patientFile p {
    margin: 1.2vh;
    font-size: 1.1rem;
  }
  
  .patientFile #patientId {
    color: rgba(68, 81, 114, 0.75);
  }
  
  .patientFile button {
    border-style: none;
    border-radius: 0.5rem;
    background-color: #0069FF;
    color: white;
    font-size: 1rem;
    padding: 1vh 2.5vw;
    
  }
  
  .patientFile .fileInfo {
    display: flex;
  }
  
  .fileInfo img {
    height: 5vh;
    margin-right: 1vw;
  }
  
  
  
  
  .patientFileBack {
    background-color: rgba(239, 242, 251, 1);
    margin-top: 3vh;
    padding: 2vh 1.2vw;
    padding-bottom: 7vh;
    border-radius: 5px;
    margin-bottom: 10vh;
  }
  
  .patientFileExt {
    margin: 1vh 0.5vw;
    display: flex;
    border-bottom: solid;
    padding-bottom: 1.8vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
  }
  
  
  .patientFileExt img {
    height: 3rem;
  }
  
  .patientFileExt .fileInfo p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    margin-left: 1vw;
  }
  
  .patientFileExt .fileInfo .patientIdClass {
    font-size: 1rem;
    font-weight: 400;
    color: #0069FF;
  }
  
  
  .detailDiv {
    margin-right: 3vw;
  }
  
  .detailDiv .detailHeading{
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 3vh;
    margin-left: 0.5vw;
  }
  
  .detailDiv div {
    border-color: rgba(68, 81, 114, 0.5);
    border-style: solid;
    border-width: 0.1vh;
    background-color: white;
    width: 20vw;
    padding: 0.01vh 1.2vw;
    border-radius: 10px;
    margin-top: 0vh;
  }
  
  
  .detailDiv div p {
    color: rgb(68, 81, 114);
    font-weight: normal;
  }
  
  .weightAndHeight {
    display: flex;
  }  