<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Security</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A300%2C400%2C500%2C600" />
    <link rel="stylesheet" href="\public\css\nurse\profile_dashboard_3.css" />
</head>

<body>

    <div class="content">
        <div class="sideMenu">
            <div class="logoDiv">
                <img class="logoImg" src="\public\img\nurse\Untitled design (5) copy 2.png" />
            </div>

            <!-- <div class="patientDiv">
                <p class="mainOptions">PATIENT</p>

                <div class="profile">
                    <p>username</p>
                </div>
            </div> -->

            <div class="manageDiv">
                <p class="mainOptions">MANAGE</p>
                <a href="patients_dashboard.html" id="patients">Patients</a>
                <a href="ongoing.html" id="On-going">On-going session</a>
                <a href="sessions.html" id="sessions">Sessions</a>
                <a href="appointments.html" id="appointments">Appoinments</a>
                <a href="profile_dashboard.html" id="profile">Profile</a>
            </div>

            <div class="othersDiv">
                <a href="billing.html" id="billing">Billing</a>
                <a href="terms_of_service.html" id="terms">Terms of Service</a>
                <a href="privacy_policy.html" id="privacy">Privacy Policy</a>
            </div>
        </div>

        <div class="main">
            <div class="navBar">
                <img src="\public\img\nurse\user.png" alt="user-icon">
                <p>SAMPLE USERNAME HERE</p>
            </div>

            <div class="patientInfoContainer">
                <div class="patientInfo">
                    <img src="\public\img\nurse\profile.png" alt="profile-pic">
                    <div class="patientNameDiv">
                        <p class="name">Nurse Name</p>
                        <p class="role">Nurse</p>
                    </div>
                </div>

                <div class="menu">
                    <a href="profile_dashboard.html" id="account">Account</a>
                    <a href="profile_dashboard_2.html" id="personalinfo">Personal Info</a>
                    <a href="profile_dashboard_3.html" id="security">Security</a>
                </div>

                <div class="inquiriesDiv">
                    <h1>Employee ID: #1248623</h1>
                    <p class="sub1" style="font-weight: bold;">Security Information</p>
                    <div class="accInfo">
                        <div class="parallel">
                        <div class="input-group">
                            <label for="name">Method of Sign-In</label>
                            <select class="input">
                                <option value="" disabled selected>Select Method</option>
                                <option value="option1">Email</option>
                                <option value="option2">Phone Number</option>
                                <!-- Add more specialization options as needed -->
                              </select>
                        </div>
                        <div class="input-group">
                            <label for="email">Email/Phone Number</label>
                            <input type="text" id="email" class="input" style="display: inline-block;">
                        </div>
                        </div>
                    </div>

                    <div>
                        <h4>Two-factor Authentication</h3>
                        <p class="para">Add an extra layer of security to your account. To sign in, you'll need to provide a code along with your username and password.</p>
                        <button type="button" id="submit">SETUP 2FA</button>
                        <p><br></p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
</body>

</html>