.bar1
{
  width: 130vh;
  height:80vh;
  margin-top: 3vh;
  background-color: #EFF2FB;
  margin-left: 0.1vh;
  display: flexbox;
}
.row1
{
    display:flex;
    color: black;
    margin-top: 1vh;
    padding-left: 5vh;
    padding-top: 1vh;
    
}
.row1 input
{
    
    height:4vh;
    width:46.5vh;
    border-radius: 0.5vh;
    
    font-size: 1.5vh;
    font-family: inter;
    color: black;
    border-radius: 0.5vh;
    padding-left: 3vh;
    border-color: #44517280;
}
.firstname
{
    margin-right: 7vh;
}

.row2
{
    padding-left: 5vh;
    padding-top: 3vh;
}
.row2 input
{
    width:103vh;
    height:4vh;
    border-radius: 0.5vh;
    border-color: #44517280;
    font-size: 1.5vh;
    font-family: inter;
    color: black;
    border-radius: 0.5vh;
    padding-left: 3vh;
    
}