body {
  font-family: Inter, 'Source Sans Pro';
  margin: 0;
}


.content {
  display: flex;
}


.sideMenu {
  min-width: 12vw;
  height: 100vh;
  background-color: rgba(7, 28, 74, 1);
}

.medicationMenu{
  background-color: #445172;
  height: 32px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.sideMenuLink {
  text-decoration: none;
  color: #000; 
  transition: background-color 0.3s; 
}


.sideMenuTexts {
  font-size: 1.7vh;
  color: #ffffff;
  line-height: 1.5vh;
  padding-bottom: 10px;
}

.logoDiv {
  align-items: center;
  margin-bottom: 4vh;
}

.logoImg {
  display: block;
  margin: auto;
  height: 5vh;
  padding-top: 3vh;
}

.container1{
  margin: 1rem 0rem -60.9rem -0.6rem;
  width: 56.5rem;
  height: 31rem;
  position: relative;
  background-color: #eff2fb;
  border-radius: 1rem;
  flex-shrink: 0;
  white-space: nowrap;
}

.mainOptions {
  color: white;
  font-size: 2.2vh;
  font-weight: bold;
}


.sideMenu p {
  padding-left: 3vh;
}

#medications{
  
  font-weight: 500;
  color:black;
  font-size:1rem;
  
}


.patientDiv {
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
}


.profile {
  background-color: rgba(53, 70, 109, 1);
  padding: 0.2vh;
  margin-bottom: 2.5vh;
}


.profile p{
  color: #ffffff;
  font-size: 1.8vh;
  font-weight: bold;
}



.manageDiv {
  padding-top: 3vh;
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
  padding-bottom: 3vh;
}

.manageDiv .mainOptions {
  margin-bottom: 3vh;
}


.othersDiv {
  padding-top: 3vh;
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
  padding-bottom: 3vh;
}



.main {
  flex: 1;
}

.navBar {
  background-color: rgba(138, 150, 181, 1);
  height: 7vh;
}

.navBar p {
  margin: 0;
  float: right;
  padding: 2.5vh 0vw;
  color: #ffffff;
  font-size: 1.7vh;
}

.navBar img {
  float: right;
  padding: 1.3vh 2vw;
  height: 4vh;
}

.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;
}


.patientInfo {
  display: flex;
}


.patientInfo img {
  height: 10vh;
  margin-right: 1.5vw;
}


.patientNameDiv {
  padding: 0.01vh 0;
}


.patientInfo .name {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgba(68, 81, 114, 1);
}

.patientInfo .role {
  font-size: 1.8vh;
  margin-top: 0vh;
  padding-top: 0;
}


.menu {
  margin-top: 2vh;
  display: flex;
  border-bottom: solid;
  padding-bottom: 0.1vh;
  border-width: 0.1vh;
  border-color: rgba(164, 174, 199, 1);
}

.menu p {
  margin-right: 4vh;
  font-size: 2vh;
  margin-bottom: 1vh;
  color: rgba(164, 174, 199, 1);
}




.container {
  display: flex;
  justify-content: space-between;
}

.container-box {
  width: 70rem;
  margin-top: 18px;
  height: 28rem;
  position: relative;
  background-color: #eff2fb;
  border-radius: 1rem;
}

.line {
  width: 118rem;
  height: 0.1rem;
  position: absolute;
  left: 4.8rem;
  top: 12rem;
  background-color: rgba(68, 81, 114, 0.75);
}

.medication-name {
  width: 35.6rem;
  height: 3.9rem;
  position: absolute;
  left: 8.7rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.status-in-stock {
  width: 21.7rem;
  height: 3.9rem;
  position: absolute;
  left: 45.5rem;
  top: 0.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}


.status-in-stock-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.status-in-stock-sub-1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #397a49;
  font-family: Inter, 'Source Sans Pro';
}

.vector {
  width: 2.8rem;
  height: 3.6rem;
  position: absolute;
  left: 3.7rem;
  top: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}

.line{
  width: 63rem;
  height: 0.1rem;
  position: absolute;
  left: 4.8rem;
  top: 8rem;
  background-color: rgba(68, 81, 114, 0.75);
}

.details{
  position: absolute;
  top: 131px;
  left: 77px;
  font-size: 21px;
  
}

.text-box {
  border-radius: 14px;
  padding: 11px;
  width: 223px;
  font-size: 18px;
  outline: none;
  margin-left: 21px;
}


.text-box:hover {
  border-color: #e74c3c; 
}

.text-box:focus {
  border-color: #27ae60; 
  box-shadow: 0 0 5px #27ae60; 
}

.quantity-01{
  width: 35.6rem;
  height: 3.9rem;
  position: absolute;
  left: 8.7rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.quantity-02{
  position: absolute;
  left: 0rem;
  top: 11rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  
}

.blue-button {
  font-size: 1.7rem;
  background-color: #0069ff;
  color: #fff;
  border: none;
  padding: 7px 107px;
  border-radius: 1rem;
  cursor: pointer /* Change the cursor to a pointer on hover */;
  margin-top: 386px;
  margin-left: 65px;
}

.blue-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.red-button {
  font-size: 1.7rem;
  background-color: #f50c0c;
  color: #fff;
  border: none;
  padding: 7px 76px;
  border-radius: 1rem;
  cursor: pointer /* Change the cursor to a pointer on hover */;
  margin-top: 386px;
  margin-left: 232px;
}

.red-button:hover {
  background-color: #b80505; /* Darker blue on hover */
}

/* .vector {
  width: 4.8rem;
  height: 2.6rem;
  position: absolute;
  left: 1rem;
  top: 1.1rem;
  object-fit: contain;
  vertical-align: top;
}

.man-logo{
  position: absolute;
  left: 6.8rem;
  top: -1.1rem;
  object-fit: contain;
  vertical-align: top;
  width: 64px;
  height: 114px;
}


.patient-name{
  width: 30.9rem;
  height: 3.9rem;
  position: absolute;
  left: 11.9rem;
  top: -1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}


.patient-age{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
} 

.p1{
  width: 21.3rem;
  height: 5.4rem;
  position: absolute;
  left: 11.9rem;
  top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
} */

/* .menu1{
  margin: 1rem 0rem -60.9rem -0.6rem;
  width: 68rem;
  height: 31rem;
  position: relative;
  background-color: #eff2fb;
  border-radius: 1rem;
  flex-shrink: 0;
  white-space: nowrap;
}

.line {
  border: 0.75px solid #000;
  width: 98%;
  margin-right: 16px;
  margin-left: 8px;
  margin-top: 94px;
}

.noOfPrescriptions{
  width: 26.1rem;
  height: 3.9rem;
  position: absolute;
  left: 9.9rem;
  top: 20.2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;

}

.prescription-file1 {
  box-sizing: border-box;
  padding: 1.4rem 9.7rem 1rem 2.742rem;
  width: 65rem;
  height: 4.1rem;
  position: absolute;
  left: 15rem;
  top: 30rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(68, 81, 114, 0.5);
  background-color: #ffffff;
  border-radius: 1rem;
}

.prescription-file2 {
  box-sizing: border-box;
  padding: 1.2rem 9.7rem 1.2rem 2.942rem;
  width: 65rem;
  height: 4.1rem;
  position: absolute;
  left: 15rem;
  top: 35rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(68, 81, 114, 0.5);
  background-color: #ffffff;
  border-radius: 1rem;
}

.prescription-file3 {
  box-sizing: border-box;
  padding: 1.4rem 9.1rem 1rem 2.742rem;
  width: 65rem;
  height: 4.1rem;
  position: absolute;
  left: 15rem;
  top: 25.4rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 105, 255, 0.200000003);
  border-radius: 1rem;
}

.clipboard-1 {
  margin-right: 1.6355rem;
  width: 2.4rem;
  height: 3.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.clipboard-2 {
  margin-right: 1.6355rem;
  width: 2.4rem;
  height: 3.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.clipboard-3 {
  margin-right: 1.6355rem;
  width: 2.4rem;
  height: 3.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

 .pres-description-1 {
  margin: 0.1rem 4.23rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
 }
 .doctor-name-1{
  margin: 0.5rem 12rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dd-mm-yyyy-1 {
  margin-top: 2.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.pres-description-2 {
  margin: 0.1rem 4.23rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
 }
 .doctor-name-2{
  margin: 0.5rem 12rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dd-mm-yyyy-2 {
  margin-top: 2.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.pres-description-3 {
  margin: 0.1rem 4.23rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
 }
 .doctor-name-3{
  margin: 0.5rem 12rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dd-mm-yyyy-3 {
  margin-top: 2.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
} */




