body {
  font-family: Inter, 'Source Sans Pro';
  margin: 0;
}


.content {
  display: flex;
}


.sideMenu {
  min-width: 12vw;
  height: 100vh;
  background-color: rgba(7, 28, 74, 1);
}


.sideMenuTexts {
  font-size: 1.7vh;
  color: #ffffff;
  line-height: 1.5vh;
  padding-bottom: 10px;
}

.logoDiv {
  align-items: center;
  margin-bottom: 4vh;
}

.logoImg {
  display: block;
  margin: auto;
  height: 5vh;
  padding-top: 3vh;
}

.sideMenuLink {
  text-decoration: none; 
  color: #000; 
  transition: background-color 0.3s; 
}



.mainOptions {
  color: white;
  font-size: 2.2vh;
  font-weight: bold;
}


.sideMenu p {
  padding-left: 3vh;
}


.patientDiv {
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
}


.profile {
  background-color: rgba(53, 70, 109, 1);
  padding: 0.2vh;
  margin-bottom: 2.5vh;
}


.profile p{
  color: #ffffff;
  font-size: 1.8vh;
  font-weight: bold;
}



.manageDiv {
  padding-top: 3vh;
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
  padding-bottom: 3vh;
}

.manageDiv .mainOptions {
  margin-bottom: 3vh;
}


.othersDiv {
  padding-top: 3vh;
  border-bottom: solid;
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
  padding-bottom: 3vh;
}



.main {
  flex: 1;
}

.navBar {
  background-color: rgba(138, 150, 181, 1);
  height: 7vh;
}

.navBar p {
  margin: 0;
  float: right;
  padding: 2.5vh 0vw;
  color: #ffffff;
  font-size: 1.7vh;
}

.navBar img {
  float: right;
  padding: 1.3vh 2vw;
  height: 4vh;
}

.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;
}


.patientInfo {
  display: flex;
}


.patientInfo img {
  height: 10vh;
  margin-right: 1.5vw;
}

.medicationMenu{
  background-color: #445172;
  height: 32px;
  padding-top: 5px;
  padding-bottom: 5px;

}

#medications{
  
    font-weight: 500;
    color:black;
    font-size:1rem;
    
}


.patientNameDiv {
  padding: 0.01vh 0;
}


.patientInfo .name {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgba(68, 81, 114, 1);
}

.patientInfo .role {
  font-size: 1.8vh;
  margin-top: 0vh;
  padding-top: 0;
}


.menu {
  margin-top: 2vh;
  display: flex;
  border-bottom: solid;
  padding-bottom: 0.1vh;
  border-width: 0.1vh;
  border-color: rgba(164, 174, 199, 1);
}

.menu p {
  margin-right: 4vh;
  font-size: 2vh;
  margin-bottom: 1vh;
  color: rgba(164, 174, 199, 1);
}

.search-patient{

  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #445172;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.auto-group{
  margin: 0rem 29.1rem 4.509rem 0.3rem;
  width: calc(100% - 29.4rem);
  height: 6.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.add-prescription {
  margin-right: 2.3rem;
    box-sizing: border-box;
    padding: 1.6rem -1.3rem 1.5rem 2.7rem;
    width: 100rem;
    height: 100%;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #8a96b5;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #eff2fb;
    border-radius: 1rem;
    flex-shrink: 0;
}

.auto-group-1 {
  width: 22.6rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0069ff;
  border-radius: 1rem;
  flex-shrink: 0;
}

.line-middle {
  margin: 0rem 0rem 2.991rem 0.4rem;
  width: 124.1008rem;
  height: 0.1rem;
  background-color: rgba(68, 81, 114, 0.75);
  flex-shrink: 0;
}


#myTextBox {
  border: 2px solid #3498db;
    border-radius: 20px;
    padding: 10px;
    width: 290px;
    font-size: -3px;
    font-size: 20px;
    outline: none;
    margin-right: 26px;
    margin-left: 31px;
}


#myTextBox:hover {
  border-color: #e74c3c; 
}

#myTextBox:focus {
  border-color: #27ae60; 
  box-shadow: 0 0 5px #27ae60; 
}



.container { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.input-container {
  flex: 1;
  margin-right: 10px;
}

.button-container {
  flex: 0;
}


.blue-button {
  font-size: 1.4rem;
    background-color: #0069ff;
    color: #fff;
    border: none;
    padding: 10px 29px;
    border-radius: 1rem;
    cursor: pointer /* Change the cursor to a pointer on hover */
}

.blue-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.line{
  margin: 2rem 0rem 2rem 1.4rem;
  width: 58rem;
  height: 0.1rem;
  background-color: rgba(68, 81, 114, 0.75);

}

.search-patient{
  
    font-size: 1.5rem;
    font-weight: 600;
    color: #445172;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin-left: 37px;
}

.container1{
  margin: 0rem 0rem 4.1rem 1.4rem;
  width: 56.5rem;
  height: 4.1rem;
  position: relative;
  background-color: #eff2fb;
  border-radius: 1rem;
  flex-shrink: 0;
  white-space: nowrap;
}



.container1 p, .container1 img {
  display: inline-block;
  vertical-align: middle; 
  
}



.view{
  font-size: 1rem;
  background-color: green;
  color: #fff;
  border: none;
  padding: 19px 77px;
  border-radius: 1rem;
  cursor: pointer ;
  margin-left: 138px;
}


.view:hover {
  background-color: darkgreen; 
}
.container1 .view {
    padding-top: 14px;
    padding-bottom: 8px;
    margin-top: 12px;
}

.not-found{
  margin: 0rem 41.8rem -0.3rem 5.8rem;
  width: calc(100% - 91.6rem);
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
