.patientSearch {
  margin-top: 4vh;
  background-color: rgba(239, 242, 251, 1);
  border-radius: 10px;
  padding: 1vh 3vh 2vh;
}

.patientSearch h1 {
  font-size: 24px;
  font-weight: bold;
  color: rgba(68, 81, 114, 1);
}

form input {
  width: 95%;
  padding: 1.4vh;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
}

.patient-details{
  width: 97%;
}

.patient-details table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1vh;
}

table tr {
  background-color: #ffffff;
}

td {
  padding: 0vh 2vh;
  color: rgba(164, 174, 199, 1);
  text-align: center;
}

td .patientName {
  color: rgba(0, 105, 255, 1);
  text-align: left;
}

td i {
  cursor: pointer;
  color: rgba(0, 105, 255, 1);
}

td button {
  width: 12vw;
  height: 5vh;
  background-color: rgba(0, 105, 255, 1);
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

.patient-details .desDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desDiv img {
  border-radius: 50%;
  height: 5vh;
  margin-right: 1vh;
  width: 5vh;
}

.patient-details .patient-data {
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.patient-data.buttons{
display: flex;
}

.patient-test-data{
margin-top: 4vh;
background-color: rgba(239, 242, 251, 1);
border-radius: 10px;
padding: 1vh 3vh 2vh;
}

.patient-test-data h1{
font-size: 24px;
color: #445172;
}

.patient-test-data .patientInfo2{
display: flex;
justify-content: left;
align-items: center;
}

.patientInfo2 img{
  height: 7vh;
  padding: 1.75vh 1.7vh 1.7vh 1.7vh;
  border-radius: 50%;
  width: 7vh;
}


.patientInfo2 .infoDetail .name{
font-size: 3vh;
font-weight: bold;
margin: 0%;
}

.patientInfo2 .infoDetail .id{
font-size: 2.5vb;
color: #0069FF;
margin: 0%;
}

.patientInfo2 .infoDetail .age{
font-size: 2vh;
color: #445172BF;
margin: 0%;
}

.patient-test-data .test-details-box{
display: flex;
justify-content:space-between;
align-items: flex-start;
background-color:#ffffff;
border-color: antiquewhite;
border-radius: 5px;
margin: inherit;
}

.test-details-box .test-details{
padding: 1vh;
width: 60%;
}

.test-details-box .buttons{
padding: 1vh;
align-items: center;

}

.buttons button{
cursor: pointer;
width: 70%;
margin: 0.5vh;
color: #ffffff;
border: none;
height:3vh;
border-radius: 5px;
}

.test-details .test-descript{
/* font-size: 1.7vh; */
color: #0069FF;
font-weight: bold;
margin: 0%;
}

.test-details .rest-data{
/* font-size: 1.7vh; */
color: #445172;
margin: 0%;
}

.upload-model{
display: none;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.upload-model .model-content{
background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 35%;
  position: relative;
  text-align: center;
  align-items: center;
}

.close {
position: absolute;
top: 0;
right: 0;
padding: 10px;
cursor: pointer;
}

.model-content form input{
  border-radius: 10px;
}

.model-content form button{
border-radius: 5px;
background-color: #397A49;
border: none;
cursor: pointer;
width: 70px;
height: 25px;
color: #fff;}

body {
  font-family: inter;
  margin: 0;
}

.content {
  display: flex;
}

.main {
  flex: 1;
  margin-bottom: 3%;
  margin-left: 240px;
}

.patientInfoContainer {
  margin-left: 3vw;
  margin-top: 5vh;
  width: 80%;
}

.patients {
  background-color: rgba(68, 81, 114, 1);
  position: relative;
}

.patients::before {
  background-color: #0069FF;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.menu #patients {
  border-color: #0069FF;
  border-spacing: 2cm;
  color: #0069FF;
  position: relative;
}

.menu #patients::after {
  background-color: #0069FF;
  bottom: -8px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}