body {
    font-family: inter;
    margin: 0;
}

.content {
    display: flex;
}

.patientDiv {
    border-bottom: solid;
    border-color: rgba(217, 217, 217, 0.75);
    border-width: 0.1vh;
}

.main {
    flex: 1;
    margin-bottom: 3%;
    margin-left: 240px;
}

.patientInfoContainer {
    margin-left: 3vw;
    margin-top: 5vh;
    width: 80%;
}

.accInfo {
    display: flex;
    flex-direction: row;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sub1 {
    color: rgba(68, 81, 114, 1);
    margin-right: 20px;
    margin-top: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

.sub2 {
    color: rgba(68, 81, 114, 1);
    margin-right: 20px;
    margin-top: 255px;
    position: absolute;
    right: 0;
    top: 0;
}

.accInfo {
    border-top: 1px solid rgba(68, 81, 114, 0.75);
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.parallel {
    display: flex;
    flex-direction: row;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-top: 25px;
}

.input {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.2rem #e3e8f4;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: rgba(68, 81, 114, 0.75);
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    height: 2.5rem;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 28rem;
}

.inquiriesDiv {
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    margin-top: 4vh;
    padding: 1vh 3vh 2vh;
    position: relative;
}

.inquiriesDiv h1 {
    color: #0069ff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 2vh;
}

.inquiriesDiv button {
    align-items: center;
    background-color: rgba(68, 81, 114, 0.75);
    border-color: rgba(68, 81, 114, 0.75);
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    justify-content: center;
    line-height: 1.2125;
    margin-top: 15px;
    text-align: center;
    white-space: nowrap;
    width: 15rem;
    cursor: pointer;
}

.menu #account {
    border-color: #0069FF;
    border-spacing: 2cm;
    color: #0069FF;
    position: relative;
}

.menu #account::after {
    background-color: #0069FF;
    bottom: -8px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.profile {
    background-color: rgba(68, 81, 114, 1);
    position: relative;
}

.profile::before {
    background-color: #0069FF;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}