.menu {
    display: flex;
    border-bottom: solid;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
}

.menu p {
    margin-right: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: rgba(164, 174, 199, 1);
}


.menu p a{
    text-decoration: none;
    color: rgba(164, 174, 199, 1);

}

p a:active{
    color: black;
}

.patientSearch {
    margin-top: 2vh;
    margin-bottom: 4vh;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh 2vh;
}

.patientSearch .topic {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 2vw;
}

.patientSearch .topic label {
    font-size: 3vh;
    font-weight: bold;
    color: rgba(68, 81, 114, 1);
}

.diagnosis form input {
    width: 95%;
    padding: 2vh;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.medication {
    margin-top: 10px;
}

.medication .medication-head {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.medication .medication-form {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

.medication .medication-form .search-medication {
    width: 95%;
    background-color: rgba(239, 242, 251, 1);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
}

.medication .medication-form .medication-suggetions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 95%;
    padding: 2px 10px;
    margin-bottom: 5px;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
}

.medication .medication-form .medication-suggetions p {
    font-size: 2vh;
    font-weight: 500;
    color: gray;
}

.medication .medication-form .medication-suggetions button {
    width: 100px;
    background-color: green;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 2px 0;
    cursor: pointer;
}

.medication .medication-added table {
    width: 98%;
}

.medication .medication-added table td {
    background-color: rgba(239, 242, 251, 1);
    padding: 10px 10px;
    font-size: 2vh;
    font-weight: 500;
    color: gray;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.medication .medication-added table .medication-delete{
    width: 20px;
    text-align: center;
}
.medication .medication-added table .medication-delete i {
    cursor: pointer;
}
.medication .medication-added table .medication-delete i:hover {
    color: rgba(0, 105, 255, 1);
    cursor: pointer;
}

.test {
    margin-top: 20px;
}

.test .test-head {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.test .test-form {
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

.test .test-form .search-test {
    width: 95%;
    background-color: rgba(239, 242, 251, 1);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
}

.test .test-form .test-suggetions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 95%;
    padding: 2px 10px;
    margin-bottom: 5px;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
}

.test .test-form .test-suggetions p {
    font-size: 2vh;
    font-weight: 500;
    color: gray;
}

.test .test-form .test-suggetions button {
    width: 100px;
    background-color: green;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 2px 0;
    cursor: pointer;
}

.test .test-added table {
    width: 70%;
}

.test .test-added table td {
    background-color: rgba(239, 242, 251, 1);
    padding: 10px 10px;
    font-size: 2vh;
    font-weight: 500;
    color: gray;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.test .test-added table .test-delete{
    width: 20px;
    text-align: center;
}

.test .test-added table .test-delete i{
    cursor: pointer;
}
.test .test-added table .test-delete i:hover{
    cursor: pointer;
    color: rgba(0, 105, 255, 1);
}

.save-Btn button{
    margin-top: 10px;
    padding: 8px 0;
    width: 100%;
    font-weight: bold;
    background-color: rgba(0, 105, 255, 1);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}