.menu {
    margin-top: 2vh;
    display: flex;
    border-bottom: solid;
    padding-bottom: 0.1vh;
    border-width: 0.1vh;
    border-color: rgba(164, 174, 199, 1);
}

.menu p {
    margin-right: 4vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: rgba(164, 174, 199, 1);
}

.menu p a{
    text-decoration: none;
    color: rgba(164, 174, 199, 1);

}

p a:active{
    color: black;
}

.patientSearch {
    margin-top: 5vh;
    background-color: rgba(239, 242, 251, 1);
    border-radius: 10px;
    padding: 1vh 3vh 2vh;
    width: 80%;
}

.patientSearch .sessions-box {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
}

.patientSearch .sessions-box .session-card {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
}

.patientSearch .sessions-box .session-card div{
    font-size: 15px;
}

.patientSearch .sessions-box .session-card button {
    margin-top: 25px;
    width: 100%;
    background-color: rgba(0, 105, 255, 1);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
}

/* Modal */
.session-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.session-content {
    background-color: #fff;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 35%;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
.session-content .session-modal-content {
    background-color: rgba(239, 242, 251, 1);
    padding: 5px 15px;
    margin-top: 5px;
    border-radius: 10px;
}
.session-content .session-modal-content .doctor-data {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.session-content .session-modal-content .doctor-data img{
width: 50px;
height: 50px;
}

.session-content .session-modal-content .doctor-data .doctor-data1 .name {
    color: rgba(0, 105, 255, 1);
}

.session-content .session-modal-content .patient-data {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.session-content .session-modal-content .patient-data button {
    background-color: rgba(0, 105, 255, 1);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
}
.session-content .cancel {
    text-align: right;
}
.session-content .cancel button{
    background-color: #FF002E;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
}
.patientSearch .clicked-session{
    display: none;

}

.patientSearch .clicked-session .session-number h1{
    font-size: 3vh;
}

.patientSearch .clicked-session .session-patient{
    display:inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.patientSearch .clicked-session .session-patient img{
    height: 5vh;
    padding: 1.7vh 1.7vh 1.7vh 1.7vh;
}

.patientSearch .clicked-session table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1vh;
}

 table tr {
    background-color: #ffffff;
  }
  
 td {
    padding: 0vh 10vh;
    color: rgba(164, 174, 199, 1);
    text-align: left;
    border-spacing: 0 0.5vh;
    display: inline-flex;
    justify-content:space-between;

  }
  
 td .patientName {
    color: rgba(0, 105, 255, 1);
    text-align: left;
  }

  td .patientId{
    text-align: left;
  }

  body {
    font-family: inter;
    margin: 0;
    /* overflow: hidden; */
  }
  
  .content {
    display: flex;
  }
  
  .main {
    flex: 1;
    margin-left: 220px;
    margin-bottom: 3%;
  }
  
  .patientInfoContainer {
    width: 80%;
    margin-top: 5vh;
    margin-left: 3vw;
  }
  
  .sessions {
    background-color: rgba(68, 81, 114, 1);
    position: relative;
  }
  
  .sessions::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #0069FF;
  }
  
  .menu #sessions {
    color: #0069FF;
    border-color: #0069FF;
    border-spacing: 2cm;
    position: relative;
  }
  
  .menu #sessions::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0069FF;
  }
  