<<<<<<< Updated upstream
body {
  font-family: inter;
  margin: 0;
  /* overflow: hidden; */
}

.content {
  display: flex;
}

.main {
  flex: 1;
  margin-left: 220px;
  margin-bottom: 3%;

}

.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;

=======
>>>>>>> Stashed changes
.back
 {
  padding-left: 5vh;
  padding-top: -5vh;
  display: flex;
  
 } 
.back h1
{
  margin-left: 2vh;
  font-size: 3vh;
  color: #445172; 
}
.bar1
{
  width: 140vh;
  height:130vh;
  margin-top: 3vh;
  background-color: #EFF2FB;
  margin-left: 0.1vh;
  display: flexbox;
  
}
.div-specifier
{
  padding-top: 3vh;
}

.div-specifier h3
{
  font-size:2.4vh;
  margin-left:12vh;
  color: #0069FF;
  margin-top: -2vh;

}

.div-specifier h4
{
  font-size:2.2vh;
  margin-left:84vh; 
  color:#445172;
  margin-top: -3.5vh;

}

.user-details
{
  display: flex;
}
.user-details h1
{
  margin-left: 2vh; 
  margin-top: -0.01vh; 
  font-size: 3.3vh;
}
.person-circle
{
  width: 6vh; 
  height: 6vh; 
  margin-left: 4vh; 
}


.bar2
{
  width: 120vh;
  height:110vh;
  background-color: white;
  margin-left: 5vh;
  border-color: black;
  margin-top: 2vh;
  
}
.row1
{
    display:flex;
    color: black;
    margin-top: 0.5vh;
    padding-left: 5vh;
    padding-top: 1vh;
    font-size: 1.4vh;
    
}
.firstname
{
    margin-right: 7vh;
}
.row1 input
{
    
    height:4vh;
    width:43vh;
    border-radius: 1vh;
    font-size: 1.6vh;
    font-family: inter;
    color: black;
    border-radius: 1vh;
    padding-left: 3vh;
    border: 1px solid #44517280;

}
.row2
{
    padding-left: 5vh;
    padding-top: 1vh;
    font-size: 1.4vh;

}
.row2 input
{
    width:97vh;
    height:4vh;
    border-radius: 1vh;
    border-color: #E3E8F4;
    font-size: 1.5vh;
    font-family: inter;
    color: black;
    padding-left: 3vh;
    border: 1px solid #44517280;

}

.btn button
{
  margin-left: 40vh;
  margin-top: 8vh ;
  width:30vh;
  height:5vh;
  border-radius: 1vh;
  color: white;
  background-color: #0069FF;
  font-size: 2.5vh;;
  border: none;
}

body {
  font-family: inter;
  margin: 0;
  /* overflow: hidden; */
}

.content {
  display: flex;
}

.main {
  flex: 1;
  margin-left: 220px;
  margin-bottom: 3%;

}

.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;
}


