body {
    font-family: inter;
    margin: 0;
    /* overflow: hidden; */
  }

  .content {
    display: flex;
  }
  
  .main {
    flex: 1;
    margin-left: 220px;
    margin-bottom: 3%;
  
  }
  
  .patientInfoContainer {
    width: 80%;
    margin-top: 4vh;
    margin-left: 3vw;
  }
 
 .back
 {
  padding-left: 5vh;
  margin-bottom: -8vh;
  padding-top: 3vh;
 } 

.back h1{
  
  margin-left: 2vh;
  font-size: 3vh;
  color: #445172;
}

.top1
{
    display: flex;
    color: #0069FF;
    padding-left: 5vh;
    font-size: 1.7vh;
    margin-top: 9vh;
}
    
.firstname
{
    margin-right: 10vh;
}


/* .top1 input
{
    width:43vh;
    height:4vh;
    border-radius: 0.9vh;
    border-color: #E3E8F4;
    font-size: 1.6vh;
    font-family: inter;
    color: black;
    border-radius: 0.9vh;
    padding-left: 3vh;  
} */

.top2
{
    display: flex;
    color: #0069FF;
    margin-top: 2vh;
    padding-left: 5vh;
    font-size: 1.7vh;
}


/* .top2 input
{
    width:43vh;
    height:4vh;
    margin-top: -1vh;
    border-radius: 0.9vh;;
    border-color: #E3E8F4;
    font-size: 1.6vh;
    font-family: inter;
    color: black;
    padding-left: 3vh;
    border-color: #E3E8F4;   
} */
.email
{
    margin-right: 10vh;
}

.details
{
    background-color: #EFF2FB;
    height: 67vh;
    margin-right: 30vh;
    border-radius: 0.5vh;
    margin-top: 3vh;
    width:135vh;
}
h1
{
    color: #445172;
    font-size: 30px;
    font-weight: bold;
    
}

.details h3 {
    margin-bottom: 1px;
    color: #0069FF;
}

.details button
{
    margin-left: 43vh;
    margin-top: 8vh ;
    width:40vh;
    height:5vh;
    border-radius: 1vh;
    color: white;
    background-color: #0069FF;
    font-size: 2.5vh;
    font-family: inter;
    border: none;
    cursor: pointer;
}

.details input 
{
    align-items: center;
    background-color: #ffffff;
    border: solid 0.2rem #e3e8f4;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: rgba(68, 81, 114, 0.75);
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 500;
    height: 2.5rem;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 25rem;
    padding-left: 3vh;
}

.top3
{ 
    margin-top: 2vh;
    padding-left: 5vh;
    font-size: 1.7vh;
}

.req 
{
  display: flex;
  
}

.popup
{
    background-color:white ;
    width: 45vh;
    height: 30vh;
    border-radius: 1vh;
    position: absolute;
    top: 45%;
    left: 33%;
    text-align: center;
    border-style: solid;
    border-color:black;
}

.popup h2
{
    margin-top: 8vh;
}

.popup button
{
    border-radius: 1vh;
    width: 75%;
    background-color: #0069FF;
    color: white;
    border: none;
    height: 5vh;
    margin-top: 5vh;
}

.back-icon {
    align-self: center;
    cursor: pointer;
    height: 24px;
    margin-right: 20px;
    width: 24px;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  