 
  .back
  {
     padding-right: 2vh;
     height: 4vh;
     padding-top: 1vh; 
     display: flex;
  }
  img
  {
    padding-left: 4vh;
    height: 4vh;
    padding-top: 2vh;
    padding-right: 2vh;
  }
  h1
  {
    color: #445172;
    font-size: 3vh;
  }
  
  
  .top1
  {
      display: flex;
      color: #0069FF;
      padding-left: 5vh;
      font-size: 1.7vh;
      padding-top: 4vh;
      
      
  }
  .firstname
  {
      margin-right: 20vh;
  }
  .top1 input
  {
      width:43vh;
      height:4vh;
      margin-top: -1vh;
      border-radius: 0.9vh;
      border-color: #E3E8F4;
      font-size: 1.6vh;
      font-family: inter;
      color: black;
      border-radius: 0.9vh;
      padding-left: 3vh;
     
      
  }
  .top2
  {
      display: flex;
      color: #0069FF;
      margin-top: 2vh;
      padding-left: 5vh;
      font-size: 1.7vh;
      
  
  }
  .top2 input
  {
      width:43vh;
      height:4vh;
      margin-top: -1vh;
      border-radius: 0.9vh;;
      border-color: #E3E8F4;
      font-size: 1.6vh;
      font-family: inter;
      color: black;
      padding-left: 3vh;
      border-color: #E3E8F4;
      
  }
  .email
  {
      margin-right: 20vh;
  }
  .details
  {
      background-color: #EFF2FB;
      height: 63vh;
      margin-right: 30vh;
      border-radius: 0.5vh;
      margin-top: 3vh;
      width:135vh;
  
      
  }
  .details button
  {
      margin-left: 43vh;
      margin-top: 8vh ;
      width:40vh;
      height:5vh;
      border-radius: 0.5vh;
      color: white;
      background-color: #0069FF;
      font-size: 2.5vh;
      font-family: inter;
      border: none;
  
  }
  .top3
  {
  
      color: #0069FF;
      margin-top: 2vh;
      padding-left: 5vh;
      font-size: 1.7vh;
  }
  .top3 input
  {
      width:43vh;
      height:4vh;
      margin-top: -1vh;
      border-radius: 0.9vh;
      border-color: #E3E8F4;
      font-size: 1.6vh;
      font-family: inter;
      color: black;
      padding-left: 3vh;
      border-color: #E3E8F4;
      
  
  }
  .req 
  {
    display: flex;
    
  }
  req p
  {
    color: red;
  }
  