body {
  font-family: inter;
  margin: 0;
  /* overflow: hidden; */
}

.content {
  display: flex;
}

.main {
  flex: 1;
  margin-left: 220px;
  margin-bottom: 3%;
}

.patientInfoContainer {
  width: 80%;
  margin-top: 5vh;
  margin-left: 3vw;
}

.sessions {
  background-color: #EFF2FB;
  position: relative;
  height: auto;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.sessions::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #0069FF;
}

.menu #sessions {
  color: #0069FF;
  border-color: #0069FF;
  border-spacing: 2cm;
  position: relative;
}

.menu #sessions::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0069FF;
}

.searchDiv {
  padding-left: 2vh;
  height: 15vh;
  width: 120vh;
}

.searchDiv h1 {
  font-weight: bold;
  font-family: inter;
  color: #000000;
  font-size: 3.4vh;
}

.searchFiles {
  padding: 0.5vh;
  margin-right: 0.8vh;
}

.search-input {
  font-size: 2.1vh;
  font-family: inter;
  border-radius: 1vh;
  width: 75vh;
  height: 5vh;
  padding-left: 15px;
  color: #445172BF;
  border-color: #445172BF;
}

.searchFiles button {
  background-color: #0069FF;
  width: 14vh;
  height: 5.4vh;
  border-radius: 1vh;
  margin-left: 1.5vh;
  color: white;
  font-weight: 100vh;
  font-Size: 1.7vh;
  font-family: inter;
  Line-height: 1.5vh;
  margin-bottom: 4vh;
  border: none;
}

.today-date {
  color: #0069FF;
  margin-left: 2vh;
  margin-top: 4vh;
  font-size: 3vh;
}

.sessions img {
  margin-top: 3vh;
  width: 5vh;
  height: 5vh;
  margin-left: 4vh;
}

.doc-info {
  display: flex;
}

.doc-info h3 {
  margin-left: 2vh;
  color: #0069FF;
}

.sessions h5 {
  margin-left: 11vh;
  margin-top:-15px ;
}


.session-card {
  width: 30vh;
  height: 25vh;
  background-color: white;
  border-radius: 10px;
  margin-left: 4vh;
  margin-bottom: 15px;

}

.session-card h4 {
  padding-left: 5vh;
  padding-top: 1vh;
  font-size: 2.5vh;
}

.session-card p {
  font-size: 2vh;
  padding-left: 2.5vh;
}

.session-card button {
  background-color: #397A49;
  color: white;
  border-radius: 1vh;
  border: none;
  width: 20vh;
  height: 4vh;
  margin-left: 4vh;
}

.session-cards-container {
  display: flex;
  flex-wrap: wrap; 
}

/* .session-card {
  flex: 0 0 50%; 
} */

.addapp
{
  margin-left: 6vh;
  background-color: #EFF2FB;
  width: 35vh;
  height: 11vh;
  border-radius: 1vh;
  margin-bottom: 3vh;
}

.addapp p
{
  margin-left: 11vh;
  color: #445172BF;
  margin-top: -5vh;
  font-size: 1.5vh;
}

.newapp
{
  display: flex;

}

.newapp img{
  padding: 3vh 3vh;
  width: 5vh;
  height: 5vh;
}

.newapp a{
  padding-top: 3vh;
  color: #0069FF;
  text-decoration:none;
}

.doc-info button
{
  background-color: #FF002E;
  width: 23vh;
  height: 4.5vh;
  border-radius: 1vh;
  color: #FFFFFF;
  font-size: 2.5vh;
  margin-top:2.5vh;
  margin-left: 5vh;
  border: none; 
}
