html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.welcomePage {
  align-items: center;
  background-color: #3076F8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainTitle {
  animation: slideIn 1s ease forwards;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 1vh;
}

#options {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
}

#options img {
  padding-right: 1vh;
}

.optionButton1 {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 1rem;
  color: #00318C;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  padding: 1rem 2.5rem;
  transition: background-color 0.3s ease;
  width: 300px;
}

.optionButton2 {
  align-items: center;
  background-color: #00318C;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  padding: 1.5rem 2.5rem;
  transition: background-color 0.3s ease;
  width: 300px;
}

.optionButton1:hover {
  box-shadow: 0 4px 8px #00318C;

  /* Adjust the shadow color and size as needed */
}

.optionButton2:hover {
  box-shadow: 0 4px 8px white;

  /* Adjust the shadow color and size as needed */
}

.optionIcon {
  height: 2.5rem;
  margin-right: 1rem;
  width: 2.5rem;
}

.logoDiv {
  align-items: center;
  display: flex;
  left: 25px;
  position: absolute;
  top: 0px;
}

.logoDiv>div {
  align-items: center;
  background-color: #ff8100;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  margin-right: 10px;
  min-height: 35px;
  min-width: 35px;
  width: 35px;
}

.logoDiv>h5 {
  color: white;
  font-size: 24px;
  line-height: 30px;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.terms-privacy-container {
  align-items: flex-end;
  bottom: 20px;
  display: inline-block;
  flex-direction: column;
  position: fixed;
  right: 20px;
}

.terms-privacy-container a {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-decoration: none;
}