.menu {
  border-bottom: solid;
  border-color: rgba(164, 174, 199, 1);
  border-width: 0.1vh;
  display: flex;
  margin-top: 4vh;
  padding-bottom: 0.1vh;
}

.menu a {
  color: rgba(164, 174, 199, 1);
  font-family: inter;
  font-size: 2vh;
  margin-bottom: 1vh;
  margin-right: 6.5vh;
  text-decoration: none;
}

menu a:active {
  color: #0069FF;
}

a:hover {
  color: #0069FF;
}