.patientInfo {
  display: flex;
}

.patientInfo img {
  height: 10vh;
  margin-right: 1.5vw;
}

.patientNameDiv {
  margin-left: 20px;
  padding: 0.01vh 0;
}

.patientInfo .name {
  color: rgba(68, 81, 114, 1);
  font-family: inter;
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.patientInfo .role {
  font-size: 2.2vh;
  margin-top: 0vh;
  padding-top: 0;
}

.profile-pic-container {
  border-radius: 50%;
  display: inline-block;
  height: 10vh;
  overflow: hidden;
  position: relative;
  width: 10vh;
}

.profile-pic-container img {
  height: auto;
  width: 100%;
}