.content {
  display: flex;
}

.sideMenu {
  min-width: 15vw;
  height: 100vh;
  background-color: rgba(7, 28, 74, 1);
  overflow: hidden;
  position: fixed;
}


.sideMenuTexts {
  font-size: 1.7vh;
  color: #ffffff;
  line-height: 1.5vh;
  font-family: inter;
}


.logoDiv {
  display: flex;
  align-items: center;

  >div {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background-color: #ff8100;
    margin-right: 10px;
    margin-left: 20px;
  }

  >h5 {
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 30px;
    transition: opacity 0.3s;
    opacity: 1;
  }
}

.mainOptions {
  font-weight: 600;
  padding: 15px 25px 0px;
  font-size: 1.0em;
  letter-spacing: 2px;
  opacity: 1.0;
  color: rgba(217, 217, 217, 0.75);
}


.sideMenu p {
  padding-left: 3vh;
}

.manageDiv {
  padding-top: 0vh;
  border-bottom: solid;
  /* border-top: solid; */
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
  padding-bottom: 9vh;
}

.manageDiv .mainOptions {
  margin-bottom: 5vh;
}

.manageDiv a {
  display: block;
  color: #ffffff;
  font-size: 1.7vh;
  padding: 1vh 1vh;
  padding-left: 3vh;
  text-decoration: none;
}

.manageDiv a:hover {
  color: #ffffff;
}


.manageDiv .menu-item {
  display: flex;
  align-items: center;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.manageDiv .menu-item img {
  margin-right: 0px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.sideMenu .manageDiv .menu-item:hover {
  background-color: #0069FF;
}


.othersDiv {
  padding-top: 3vh;
  /* border-bottom: solid; */
  border-color: rgba(217, 217, 217, 0.75);
  border-width: 0.1vh;
  padding-bottom: 9vh;
  padding-top: 20px;
}

.othersDiv .sub-menu-item {
  display: flex;
  align-items: center;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.othersDiv .sub-menu-item img {
  margin-right: 0px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.othersDiv a {
  display: block;
  color: #ffffff;
  font-size: 1.7vh;
  padding: 1vh 1vh;
  padding-left: 3vh;
  text-decoration: none;
}

.othersDiv a:hover {
  color: #ffffff;
}

.sideMenu .othersDiv .sub-menu-item:hover {
  background-color: #0069FF;
}