html {
  font-size: 50%;
}

body {
  margin: 0px;
  overflow: hidden;
}

.loginPage {
  background-color: rgba(239, 242, 251, 1);
  height: 40vh;
  padding-bottom: 40vh;
  padding-top: 0vh;
}

.loginPage .upperRectangle {
  background-color: rgba(0, 105, 255, 0.75);
  flex-shrink: 0;
  height: 5.5rem;
  width: 100%;
}

.loginPage .formContainer {
  background-color: #e3e8f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 15rem 66.3rem 20rem 66.2rem;
  width: 100%;

  /* align-items: center; */
}

.loginPage .formContainer .loginForm {
  background-color: #ffffff;
  border: solid 0.1rem #e3e8f4;
  border-radius: 2.7rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 55rem;
  margin-bottom: 1.4rem;
  position: relative;
  width: 96%;
}

.loginPage .formContainer .loginForm h1 {
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  font-size: 4rem;
  font-weight: 700;
  height: 5.9rem;
  left: 3.0rem;
  line-height: 1.2125;
  position: absolute;
  text-align: center;
  top: 1.5rem;
  white-space: nowrap;
  width: 51rem;
}

.loginPage .formContainer .loginForm .emailContainer .inputLabel1 {
  align-items: baseline;
  color: #0069ff;
  display: flex;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  height: 2.5rem;
  left: 4.3rem;
  line-height: 1.2125;
  position: absolute;
  text-align: center;
  top: 14rem;
  white-space: nowrap;
  width: 21.3rem;
}

.loginPage .formContainer .loginForm .emailContainer .inputLabel1 .inputLabel1-1 {
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.loginPage .formContainer .loginForm .emailContainer .inputfield {
  background-color: #ffffff;
  border: solid 0.3rem #e3e8f4;
  border-radius: 1rem;
  box-sizing: border-box;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  font-size: 2.2rem;
  font-weight: 500;
  height: 6rem;
  left: 2.8rem;
  line-height: 1.2125;
  padding: 1.808rem 2.7rem 2.271rem 2.7rem;
  position: absolute;
  top: 19rem;
  white-space: nowrap;
  width: 50rem;
}

.loginPage .formContainer .loginForm .passwordContainer .inputLabel2 {
  align-items: baseline;
  color: #0069ff;
  display: flex;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  height: 2.5rem;
  left: 4.3rem;
  line-height: 1.2125;
  position: absolute;
  text-align: center;
  top: 26rem;
  white-space: nowrap;
  width: 10.9rem;
}

.loginPage .formContainer .loginForm .passwordContainer .inputLabel2 .inputLabel2-1 {
  color: #ff002d;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
}

.loginPage .formContainer .loginForm .passwordContainer .inputfield {
  background-color: #ffffff;
  border: solid 0.3rem #e3e8f4;
  border-radius: 1rem;
  box-sizing: border-box;
  color: rgba(68, 81, 114, 0.75);
  font-family: Inter, 'Source Sans Pro';
  font-size: 2.2rem;
  font-weight: 500;
  height: 6rem;
  left: 2.8rem;
  line-height: 1.2125;
  padding: 1.6rem 2.7rem 1.7rem 2.7rem;
  position: absolute;
  top: 31rem;
  white-space: nowrap;
  width: 50rem;
}

.loginPage .formContainer .loginForm .loginButton {
  align-items: center;
  background-color: #0069ff;
  border-color: #0069ff;
  border-radius: 1rem;
  color: #ffffff;
  display: flex;
  font-family: Inter, 'Source Sans Pro';
  font-size: 2.4rem;
  font-weight: 500;
  height: 6rem;
  justify-content: center;
  left: 2.8rem;
  line-height: 1.2125;
  position: absolute;
  text-align: center;
  top: 42rem;
  white-space: nowrap;
  width: 50rem;
}

.loginPage .formContainer .loginForm .forgot-password {
  color: #0069ff;
  font-family: Inter, 'Source Sans Pro';
  font-size: 1.8rem;
  font-weight: 500;
  height: 2.5rem;
  left: 3.9rem;
  line-height: 1.2125;
  position: absolute;
  text-align: center;
  text-decoration-line: underline;
  top: 49rem;
  white-space: nowrap;
  width: 17.2rem;
}

.loginPage .formContainer .criteria {
  align-items: left;
  color: #445172;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2102272034;
  margin-left: 1rem;
  text-align: left;
  white-space: nowrap;
}

.loginForm .error-msg-email {
  color: red;
  font-family: Inter, 'Source Sans Pro';
  font-size: 14px;
  left: 3.2rem;
  position: absolute;
  top: 25rem;
}

.loginForm .error-msg-password {
  color: red;
  font-family: Inter, 'Source Sans Pro';
  font-size: 14px;
  left: 3.2rem;
  position: absolute;
  top: 38rem;
}