html {
    scroll-behavior: smooth;
}

body {
    background-color: #e3e8f4;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.blueArea {
    background-color: #3076F8;
    height: 50px;
    padding: 20px 0;
    text-align: center;
}

.welcomePage {
    display: inline-block;
}

.logoDiv {
    align-items: center;
    display: flex;
    left: 25px;
    position: absolute;
    top: 0px;
}

.logoDiv>div {
    align-items: center;
    background-color: #ff8100;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    height: 35px;
    justify-content: center;
    margin-right: 10px;
    min-height: 35px;
    min-width: 35px;
    width: 35px;
}

.logoDiv>h5 {
    color: white;
    font-size: 24px;
    line-height: 30px;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.container {
    color: rgba(68, 81, 114, 1);
    margin-left: 200px;
    margin-right: 200px;
    max-width: calc(100% - 200px);
    padding: 20px;
}

.content {
    font-style: normal;
    font-weight: lighter;
    line-height: 1.6;
}

#map {
    height: 400px;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.blueArea {
    background-color: #3076F8;
    height: 50px;
    padding: 20px 0;
    text-align: center;
}

.welcomePage {
    display: inline-block;
}

.logoDiv {
    align-items: center;
    display: flex;
    left: 25px;
    position: absolute;
    top: 0px;
}

.logoDiv>div {
    align-items: center;
    background-color: #ff8100;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    height: 35px;
    justify-content: center;
    margin-right: 10px;
    min-height: 35px;
    min-width: 35px;
    width: 35px;
}

.logoDiv>h5 {
    color: white;
    font-size: 24px;
    line-height: 30px;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.container {
    color: rgba(68, 81, 114, 1);
    margin-left: 200px;
    margin-right: 200px;
    max-width: calc(100% - 200px);
    padding: 20px;
}

.content {
    font-style: normal;
    font-weight: lighter;
    line-height: 1.6;
}

#map {
    height: 400px;
    width: 100%;
}